{% extends 'ui/base.html' %}{% load i18n wagtailcore_tags wagtailimages_tags %}

<!---->
{% block title %}{{ block.super }} | {{ day }}{% endblock %}

<!---->
{% block content %}
<div class="container grid gap-8 mx-auto px-4 py-20">
  <div class="flex items-center justify-between gap-4">
    <h1 class="text-primary text-xl font-bold lg:text-5xl">
      {% trans 'News' %} - {{ day }}
    </h1>

    <div class="flex items-center gap-4">
      {% if previous_day %}
      <div
        class="tooltip tooltip-bottom tooltip-primary"
        data-tip="{% trans 'Previous' %}"
      >
        <a
          class="btn btn-copy btn-square btn-sm btn-primary md:btn-md 2xl:btn-lg"
          href="{% url 'ui:articles-d' previous_day.year previous_day.month previous_day.day %}"
        >
          <i
            data-lucide="chevron-left"
            class="size-4 md:size-6 rtl:rotate-180"
          ></i>
          <span class="sr-only">{% trans 'Previous' %}</span>
        </a>
      </div>
      {% endif %}
      <!---->
      {% if next_day %}
      <div
        class="tooltip tooltip-bottom tooltip-primary"
        data-tip="{% trans 'Next' %}"
      >
        <a
          class="btn btn-copy btn-square btn-sm btn-primary md:btn-md 2xl:btn-lg"
          href="{% url 'ui:articles-d' next_day.year next_day.month next_day.day %}"
        >
          <i
            data-lucide="chevron-right"
            class="size-4 md:size-6 rtl:rotate-180"
          ></i>
          <span class="sr-only">{% trans 'Next' %}</span>
        </a>
      </div>
      {% endif %}
    </div>
  </div>

  <ol class="grid grid-cols-12 gap-4">
    {% for article in articles %}
    <li class="col-span-12 md:col-span-6 lg:col-span-4 2xl:col-span-3">
      {% include 'ui/components/article.html' %}
    </li>
    {% empty %}
    <li class="col-span-12">
      <article
        class="card card-sm bg-base-200 shadow-xs lg:card-md xl:card-lg 2xl:card-xl overflow-hidden"
      >
        <main class="card-body items-center">
          <i data-lucide="info" class="mx-auto size-1/4 text-primary"></i>
          <h2 class="card-title text-primary">{% trans 'No articles' %}</h2>
          <p>{% trans 'No articles published on' %} {{ day }}</p>
        </main>
      </article>
    </li>
    {% endfor %}
  </ol>

  {% include 'ui/components/pagination.html' %}
</div>
{% endblock %}
