{% extends 'ui/base.html' %}{% load i18n wagtailcore_tags wagtailimages_tags %}

<!---->
{% block title %}{{ block.super }} | {{ year|date:"Y" }}{% endblock %}

<!---->
{% block content %}
<div class="container grid gap-8 mx-auto px-4 py-20">
  <div class="flex items-center justify-between gap-4">
    <h1 class="text-primary text-xl font-bold lg:text-5xl">
      {% trans 'News' %} - {{ year|date:"Y" }}
    </h1>

    <div class="flex items-center gap-4">
      {% if previous_year %}
      <div
        class="tooltip tooltip-bottom tooltip-primary"
        data-tip="{% trans 'Prev' %}"
      >
        <a
          class="btn btn-copy btn-square btn-sm btn-primary md:btn-md 2xl:btn-lg"
          href="{% url 'ui:articles-y' previous_year.year %}"
        >
          <i
            data-lucide="chevron-left"
            class="size-4 md:size-6 rtl:rotate-180"
          ></i>
          <span class="sr-only">{% trans 'Prev' %}</span>
        </a>
      </div>
      {% endif %}
      <!---->
      {% if next_year %}
      <div
        class="tooltip tooltip-bottom tooltip-primary"
        data-tip="{% trans 'Next' %}"
      >
        <a
          class="btn btn-copy btn-square btn-sm btn-primary md:btn-md 2xl:btn-lg"
          href="{% url 'ui:articles-y' next_year.year %}"
        >
          <i
            data-lucide="chevron-right"
            class="size-4 md:size-6 rtl:rotate-180"
          ></i>
          <span class="sr-only">{% trans 'Next' %}</span>
        </a>
      </div>
      {% endif %}
    </div>
  </div>

  <ol class="grid grid-cols-12 grid-rows-12 gap-4">
    {% for date in date_list %}
    <li
      class="col-span-6 row-span-6 md:col-span-3 md:row-span-3 lg:col-span-2 lg:row-span-2 2xl:col-span-1 2xl:row-span-1"
    >
      <article
        class="card relative size-full card-sm lg:card-md xl:card-lg 2xl:card-xl bg-base-200 size-full shadow-sm hover:bg-base-300"
      >
        <a
          href="{% url 'ui:articles-m' date.year date.month %}"
          class="absolute inset-0"
        >
          <span class="sr-only">{% trans 'Read' %}</span>
        </a>

        <div class="card-body">
          <h2 class="card-title text-primary">{{ date|date }}</h2>
        </div>
      </article>
    </li>
    {% empty %}
    <li class="col-span-12">
      <article
        class="card card-sm bg-base-200 shadow-xs lg:card-md xl:card-lg 2xl:card-xl overflow-hidden"
      >
        <main class="card-body items-center">
          <h2 class="card-title text-primary">{% trans 'None available' %}</h2>
        </main>
      </article>
    </li>
    {% endfor %}
  </ol>

  {% include 'ui/components/pagination.html' %}
</div>
{% endblock %}
