{% extends 'tcn/base.html' %}{% load i18n %}

<!---->
{% block title %}{{ block.super }} | {{ day }}{% endblock %}

<!---->
{% block content %}
<div class="flex items-center justify-between gap-4">
  <div class="container-prose">
    <h1>{% trans 'News' %} - {{ day }}</h1>
  </div>

  <div class="flex items-center gap-4">
    {% if previous_day %}
    <div
      class="tooltip tooltip-bottom tooltip-primary"
      data-tip="{% trans 'Previous' %}"
    >
      <a
        class="btn btn-copy btn-square btn-sm btn-primary md:btn-md 2xl:btn-lg"
        href="{% url 'tcn:articles-d' previous_day.year previous_day.month previous_day.day %}"
      >
        <i
          data-lucide="chevron-left"
          class="size-4 lg:size-6 rtl:rotate-180"
        ></i>
        <span class="sr-only">{% trans 'Previous' %}</span>
      </a>
    </div>
    {% endif %}
    <!---->
    {% if next_day %}
    <div
      class="tooltip tooltip-bottom tooltip-primary"
      data-tip="{% trans 'Next' %}"
    >
      <a
        class="btn btn-copy btn-square btn-sm btn-primary md:btn-md 2xl:btn-lg"
        href="{% url 'tcn:articles-d' next_day.year next_day.month next_day.day %}"
      >
        <i
          data-lucide="chevron-right"
          class="size-4 lg:size-6 rtl:rotate-180"
        ></i>
        <span class="sr-only">{% trans 'Next' %}</span>
      </a>
    </div>
    {% endif %}
  </div>
</div>

<ol class="grid grid-cols-12 grid-rows-[auto] gap-4">
  {% for article in articles %}
  <!---->
  {% include 'tcn/components/article.html' %}
  <!---->
  {% empty %}
  <li class="col-span-full">
    <div class="container-prose">
      <h2>{% trans 'No results' %}</h2>
      <p>{% trans "We couldn't find any results." %}</p>
    </div>
  </li>
  {% endfor %}
</ol>

{% include 'tcn/components/pagination.html' %}
<!---->
{% endblock %}
