{% extends 'tcn/base.html' %}{% load i18n %}

<!---->
{% block title %}{{ block.super }} | {{ year|date:"Y" }}{% endblock %}

<!---->
{% block content %}
<div class="flex items-center justify-between gap-4">
  <div class="container-prose">
    <h1>{% trans 'News' %} - {{ year|date:"Y" }}</h1>
  </div>

  <div class="flex items-center gap-4">
    {% if previous_year %}
    <div
      class="tooltip tooltip-bottom tooltip-primary"
      data-tip="{% trans 'Previous' %}"
    >
      <a
        class="btn btn-copy btn-square btn-sm btn-primary md:btn-md 2xl:btn-lg"
        href="{% url 'tcn:articles-y' previous_year.year %}"
      >
        <i
          data-lucide="chevron-left"
          class="size-4 lg:size-6 rtl:rotate-180"
        ></i>
        <span class="sr-only">{% trans 'Previous' %}</span>
      </a>
    </div>
    {% endif %}
    <!---->
    {% if next_year %}
    <div
      class="tooltip tooltip-bottom tooltip-primary"
      data-tip="{% trans 'Next' %}"
    >
      <a
        class="btn btn-copy btn-square btn-sm btn-primary md:btn-md 2xl:btn-lg"
        href="{% url 'tcn:articles-y' next_year.year %}"
      >
        <i
          data-lucide="chevron-right"
          class="size-4 lg:size-6 rtl:rotate-180"
        ></i>
        <span class="sr-only">{% trans 'Next' %}</span>
      </a>
    </div>
    {% endif %}
  </div>
</div>

<ol class="grid grid-cols-12 grid-rows-12 gap-4">
  {% for date in date_list %}
  <li
    class="col-span-6 row-span-6 md:col-span-3 md:row-span-3 lg:col-span-2 lg:row-span-2 2xl:col-span-1 2xl:row-span-1"
  >
    <article
      class="card relative card-sm lg:card-md xl:card-lg 2xl:card-xl bg-base-200 size-full shadow-sm hover:bg-base-300"
    >
      <a
        href="{% url 'tcn:articles-m' date.year date.month %}"
        class="absolute inset-0"
      >
        <span class="sr-only">{% trans 'Read' %}</span>
      </a>

      <div class="card-body">
        <h2 class="card-title text-primary">{{ date|date }}</h2>
      </div>
    </article>
  </li>
  {% empty %}
  <li class="col-span-full">
    <div class="container-prose">
      <h2>{% trans 'No results' %}</h2>
      <p>{% trans "We couldn't find any results." %}</p>
    </div>
  </li>
  {% endfor %}
</ol>

{% include 'tcn/components/pagination.html' %}

<!---->
{% endblock %}
