{% extends 'rest_framework/base.html' %}{% load i18n static tcn %}

<!---->
{% block title %}{% trans 'The Certain News' %} | API | {{ name }}{% endblock %}

<!---->
{% block highlight_theme %}
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/github-dark.min.css"
/>
<link rel="stylesheet" href="{% static 'rest_wind/css/pygments.css' %}" />
{% endblock %}

<!---->
{% block styles %}
<link rel="stylesheet" href="{% static 'ui/css/styles.css' %}" />
<link rel="stylesheet" href="{% static 'rest_wind/css/styles.css' %}" />
{% endblock %}

<!---->
{% block toggle_theme %}{% endblock %}

<!---->
{% block theme %}luxury{% endblock %}

<!---->
{% block branding %}
<div
  class="tooltip tooltip-right rtl:tooltip-left tooltip-primary"
  data-tip="{% trans 'The Certain News | API' %}"
>
  <h1 class="relative">
    <a
      href="/{{ LANGUAGE_CODE }}/api/"
      class="btn btn-square btn-primary lg:btn-lg"
    >
      <div
        class="bg-primary rounded-field text-primary-content absolute inset-0 size-full flex rotate-45 items-center justify-center"
      >
        <i
          data-lucide="scroll-text"
          class="-rotate-45 lg:size-8 2xl:size-10"
        ></i>
      </div>
      <span class="sr-only"> {% trans 'The Certain News | API' %} </span>
    </a>
  </h1>
</div>
{% endblock %}

<!---->
{% block branding_text %}
<div></div>
{% endblock %}

<!---->
{% block userlinks %}
<li
  class="tooltip tooltip-right rtl:tooltip-left tooltip-secondary"
  data-tip="{% trans 'Home' %}"
>
  <a href="/" class="btn btn-sm btn-square btn-ghost lg:btn-md">
    <i data-lucide="house" class="size-4 lg:size-6"></i>
    <span class="sr-only">{% trans 'Home' %}</span>
  </a>
</li>
<li
  class="tooltip tooltip-right rtl:tooltip-left tooltip-secondary"
  data-tip="{% trans 'Categories' %}"
>
  <a href="/api/categories" class="btn btn-sm btn-square btn-ghost lg:btn-md">
    <i data-lucide="library" class="size-4 lg:size-6"></i>
    <span class="sr-only">{% trans 'Categories' %}</span>
  </a>
</li>
<li
  class="tooltip tooltip-right rtl:tooltip-left tooltip-secondary"
  data-tip="{% trans 'Articles' %}"
>
  <a href="/api/articles" class="btn btn-sm btn-square btn-ghost lg:btn-md">
    <i data-lucide="route" class="size-4 lg:size-6"></i>
    <span class="sr-only">{% trans 'Articles' %}</span>
  </a>
</li>
{% endblock %}

<!---->
{% block profile_menu %}
<!---->
{% if request.user.is_authenticated %}
<li>
  <a href="/api/users/me" class="flex items-center gap-4">
    <i data-lucide="circle-user" class="size-4 lg:size-6"></i>

    <span>{% trans 'Profile' %}</span>
  </a>
</li>
{% endif %}
<!---->
{% endblock %}
