{% load i18n wagtailcore_tags wagtailimages_tags %}

<li
  role="article"
  class="relative card bg-base-300 hover:bg-base-200 card-sm md:card-md xl:card-lg 2xl:card-xl lg:first:col-span-3 lg:nth-[3]:col-span-3 lg:nth-[2]:col-span-6 lg:nth-[2]:row-span-6 xl:nth-[2]:col-span-6 xl:nth-[2]:row-span-4 col-span-12 row-span-12 size-full shadow-sm md:col-span-6 md:row-span-6 lg:col-span-4 lg:row-span-4 2xl:col-span-3 2xl:row-span-3"
>
  <a href="{% url 'ui:redirect' article.link.slug %}" class="absolute inset-0">
    <span class="sr-only">{% trans 'Read' %}</span>
  </a>

  <figure class="skeleton overflow-clip">
    {% image article.image fill-1920x1080 %}
  </figure>

  <div class="card-body p-4 justify-end">
    <h2 class="card-title text-primary">{{ article.title }}</h2>

    <p
      data-order="{{ forloop.counter }}"
      class="hidden grow-0 [data-order=2]:block"
    >
      {{ article.headline }}
    </p>

    <div class="card-actions items-center gap-1">
      {% if article.is_breaking %}
      <div class="tooltip flex tooltip-error" data-tip="{% trans 'Breaking' %}">
        <div class="inline-grid *:[grid-area:1/1]">
          <span class="sr-only">{% trans 'Breaking' %}</span>
          <div class="status status-xl status-error animate-ping"></div>
          <div class="status status-xl status-error"></div>
        </div>
      </div>
      {% endif %}
      <a
        class="tooltip tooltip-primary"
        data-tip="{% trans 'Date published' %}"
        href="{% url 'ui:articles-d' article.created_at.year article.created_at.month article.created_at.day %}"
      >
        <span class="badge badge-soft badge-xs md:badge-sm badge-primary">
          {{ article.created_at|date:'Y/m/d' }}
        </span>
      </a>
      {% if article.country %}
      <div
        class="tooltip tooltip-success"
        data-tip="{{ article.country.name }}"
      >
        <a
          href="{% url 'ui:articles' %}?country={{ article.country }}"
          class="badge badge-success badge-xs md:badge-sm"
        >
          {{ article.country }}
        </a>
      </div>
      {% endif %}
      <a
        href="{% pageurl article.get_parent %}"
        class="tooltip tooltip-primary"
        data-tip="{% trans 'Category' %}"
      >
        <span class="badge badge-xs md:badge-sm badge-primary">
          {{ article.get_parent.title }}
        </span>
      </a>
    </div>
  </div>
</li>
