{% extends 'ui/base.html' %}{% load i18n wagtailcore_tags %}

<!---->
{% block title %}{{ block.super }} | {{ category.title }}{% endblock %}

<!---->
{% block languages %}
<!---->
{% if page.get_translations.live %}
<!---->
{% include 'ui/components/lang_switch.html' %}
<!---->
{% else %}{{ block.super }}{% endif %}
<!---->
{% endblock %}

<!---->
{% block content %}
<div class="container mx-auto px-4 py-20">
  <section class="grid gap-8">
    {% include 'ui/components/breadcrumbs.html' %}

    <div
      class="prose mx-auto prose-sm prose-video:rounded-box xl:prose-lg 2xl:prose-xl prose-headings:text-primary prose-img:rounded-box prose-img:w-full"
    >
      <h1>{{ category.title }}</h1>

      {{ category.description|richtext }}
    </div>

    <ol class="grid grid-cols-12 grid-rows-[auto] gap-4">
      {% for article in children.specific %}
      <!---->
      {% include 'ui/components/article-2.html' %}
      <!---->
      {% endfor %}
    </ol>

    {% include 'ui/components/pagination.html' %}
  </section>
</div>
{% endblock %}
