# To ensure app dependencies are ported from your virtual environment/host machine into your container, run 'pip freeze > requirements.txt' in the terminal to overwrite this file
asyncio
channels
daphne
django
django-countries
django-cors-headers
django-debug-toolbar
django-extensions
django-filter
django-phonenumber-field
django-w-blog
django-w-careers
django-w-docs
djangorestframework
djoser
drf-restwind
huggingface-hub
phonenumbers
pillow
python-dotenv
wagtail
wagtail-ai
wagtail-localize[google]
wagtail-tw-blocks
