# To ensure app dependencies are ported from your virtual environment/host machine into your container, run 'pip freeze > requirements.txt' in the terminal to overwrite this file
django
django-countries
django-cors-headers
django-debug-toolbar
django-filter
django-phonenumber-field
django-w-blog
djangorestframework
djoser
drf-restwind
huggingface-hub
markdown
phonenumbers
pillow
pygments
python-dotenv
wagtail
wagtail-ai
wagtail-localize
