{% extends 'blog/base.html' %}{% load i18n static wagtailcore_tags %}

<!---->
{% block title %}{{ home.title }} {% trans 'Blog' %}{% endblock %}

<!---->
{% block styles %}{{ block.super }}
<link
  href="{% static 'tcn/css/styles.css' %}"
  rel="stylesheet"
  type="text/css"
/>
{% endblock %}

<!---->
{% block branding %}
<li
  class="tooltip tooltip-right rtl:tooltip-left tooltip-primary"
  data-tip="{{ home.title }} | {% trans 'Blog' %}"
>
  <h1 class="relative">
    <a
      href="{% pageurl home %}"
      class="btn btn-square btn-lg btn-primary lg:btn-xl"
    >
      <div
        class="btn btn-square btn-lg btn-primary rotate-45 p-0 shadow-none lg:btn-xl"
      >
        <span class="-rotate-45 text-sm font-bold font-kufi lg:text-base">
          ٱليَقِين
        </span>
      </div>
      <span class="sr-only">{{ home.title }} | {% trans 'Blog' %}</span>
    </a>
  </h1>
</li>
{% endblock %}

<!---->
{% block navbar_end %}
<!---->
{% if request.user.is_authenticated %}
<li
  class="tooltip tooltip-left tooltip-primary rtl:tooltip-right"
  data-tip="{% trans 'Profile' %}"
>
  <a
    href="{% url 'tcn:profile' %}"
    class="btn btn-square btn-soft btn-sm btn-primary md:btn-md 2xl:btn-lg"
  >
    <i data-lucide="user" class="size-4 lg:size-6"></i>
    <span class="sr-only">{% trans 'Profile' %}</span>
  </a>
</li>

<li
  class="tooltip tooltip-left tooltip-error rtl:tooltip-right"
  data-tip="{% trans 'Log out' %}"
>
  <button
    type="submit"
    form="logout"
    class="btn btn-square btn-soft btn-sm btn-error md:btn-md 2xl:btn-lg"
  >
    <i data-lucide="log-out" class="size-4 lg:size-6"></i>
    <span class="sr-only">{% trans 'Log out' %}</span>
  </button>
</li>
{% else %}
<li
  class="tooltip tooltip-left tooltip-primary rtl:tooltip-right"
  data-tip="{% trans 'Log in' %}"
>
  <a
    href="{% url 'tcn:login' %}"
    class="btn btn-square btn-soft btn-sm btn-primary md:btn-md 2xl:btn-lg"
  >
    <i data-lucide="log-in" class="size-4 lg:size-6"></i>
    <span class="sr-only">{% trans 'Log in' %}</span>
  </a>
</li>

<li
  class="tooltip tooltip-left tooltip-success rtl:tooltip-right"
  data-tip="{% trans 'Subscribe' %}"
>
  <a
    href="{% url 'tcn:subscribe' %}"
    class="btn btn-square btn-soft btn-sm btn-success md:btn-md 2xl:btn-lg"
  >
    <i data-lucide="heart-handshake" class="size-4 lg:size-6"></i>
    <span class="sr-only">{% trans 'Subscribe' %}</span>
  </a>
</li>
{% endif %}

<li
  class="tooltip tooltip-left rtl:tooltip-right tooltip-primary"
  data-tip="{% trans 'Search' %}"
>
  <a
    href="{% url 'blog:search' %}"
    class="btn btn-square btn-soft btn-sm btn-primary md:btn-md 2xl:btn-lg"
  >
    <i data-lucide="search" class="size-4 md:size-6"></i>
    <span class="sr-only">{% trans 'Search' %}</span>
  </a>
</li>
{% endblock %}

<!---->
{% block footer %}{{ home.specific.footer }}{% endblock %}

<!---->
{% block drawer_branding %}
<div
  class="tooltip tooltip-right rtl:tooltip-left tooltip-primary tooltip-open"
  data-tip="{{ home.title }} | {% trans 'Blog' %}"
>
  <h1 class="relative">
    <a
      href="{% pageurl home %}"
      class="btn btn-square btn-lg btn-primary lg:btn-xl"
    >
      <div
        class="btn btn-square btn-lg btn-primary rotate-45 p-0 shadow-none lg:btn-xl"
      >
        <span class="-rotate-45 text-sm font-bold font-kufi lg:text-base">
          ٱليَقِين
        </span>
      </div>
      <span class="sr-only">{{ home.title }} | {% trans 'Blog' %}</span>
    </a>
  </h1>
</div>
{% endblock %}

<!---->
{% block drawer_content %}
<li>
  <a href="{% pageurl home %}">{% trans 'Home' %}</a>
</li>

{% for page in home.get_children %}
<li>
  <a href="{% pageurl page %}">{{ page }}</a>
</li>
{% endfor %}
<!---->
{% endblock %}
