{% extends 'ui/base.html' %}{% load i18n wagtailcore_tags wagtailimages_tags %}

<!---->
{% block title %}{{ block.super }} | {{ category.title }}{% endblock %}

<!---->
{% block content %}
<section class="grid gap-6">
  <div class="hero min-h-96">
    <div class="hero-content grid gap-4 lg:gap-6">
      <h1 class="text-primary text-2xl font-black lg:text-5xl">
        {{ category.title }}
      </h1>

      <div class="prose">{{ category.description }}</div>
    </div>
  </div>

  <div class="grid grid-cols-12 gap-4 lg:gap-6">
    {% for article in category.get_children.specific %}
    <div
      id="{{ article.slug }}"
      class="col-span-12 md:col-span-6 lg:col-span-4"
    >
      {% include 'ui/components/article.html' %}
    </div>
    {% endfor %}
  </div>
</section>
{% endblock %}
