{% load i18n wagtailimages_tags %}

<article
  class="card relative size-full bg-base-200 p-4 hover:shadow lg:card-lg xl:card-xl"
>
  <figure class="rounded-box overflow-hidden">
    {% image article.image scale-100 %}
  </figure>
  <main class="card-body gap-4 lg:gap-6">
    <h1 class="card-title font-serif text-primary rtl:font-kufi">
      {{ article.title }}
    </h1>

    <p>{{ article.headline }}</p>

    <div class="flex items-center justify-between">
      <div
        class="tooltip tooltip-info tooltip-top"
        data-tip="{{ article.created_at|timesince }}"
      >
        <a
          class="badge badge-sm badge-info lg:badge-lg"
          href="{% url 'ui:articles-d' article.created_at|date:'Y'|default:'2025' article.created_at|date:'m'|default:'01' article.created_at|date:'d'|default:'01' %}"
        >
          <time datetime="{{ article.created_at }}">
            {{ article.created_at|date }}
          </time>
        </a>
      </div>

      <div class="flex items-center gap-2 lg:gap-4">
        <div
          class="tooltip tooltip-top flex tooltip-error"
          data-tip="{% trans 'Breaking' %}"
        >
          <a
            href="{% url 'ui:articles' %}?is_breaking=True"
            class="relative badge badge-sm badge-error lg:badge-lg"
          >
            <i data-lucide="podcast" class="size-4 lg:size-6"></i>

            <span
              class="absolute badge badge-sm aspect-square animate-ping rounded-full badge-xl badge-error"
            ></span>
            <span class="sr-only">{% trans 'Breaking' %}</span>
          </a>
        </div>

        <div
          class="tooltip tooltip-top flex tooltip-primary"
          data-tip="{% trans 'Category' %}"
        >
          <a
            href="{% url 'ui:category' article.get_parent.slug %}"
            class="badge badge-sm badge-primary text-shadow-lg lg:badge-lg"
          >
            {{ article.get_parent.title }}
          </a>
        </div>
      </div>
    </div>
    <a
      class="btn btn-primary lg:btn-lg"
      href="{% url 'ui:article' article.created_at|date:'Y' article.created_at|date:'m' article.created_at|date:'d' article.slug %}"
    >
      {% trans 'Continue reading' %}
      <i
        data-lucide="chevron-right"
        class="size-4 lg:size-6 rtl:rotate-180"
      ></i>
    </a>
  </main>
</article>
