{% extends 'ui/base.html' %}{% load i18n wagtailcore_tags wagtailimages_tags %}

<!---->
{% block title %}
{{ block.super }} | {{ post.get_parent }} | {{ post }}
{% endblock %}

<!---->
{% block meta %}
<meta
  name="description"
  content="{% trans 'The Certain News' %} | {% trans 'Blog' %} | {{ post.title }}"
/>
<meta property="og:url" content="{{ request.build_absolute_uri }}" />
<meta property="og:type" content="website" />
<meta
  property="og:title"
  content="{% trans 'The Certain News' %} | {% trans 'Blog' %} | {{ post.title }}"
/>
<meta
  property="og:description"
  content="{% trans 'The Certain News' %} | {% trans 'Blog' %} | {{ post.title }}"
/>
<meta property="og:image" content="{{ post.image.file.url }}" />
<meta property="og:image:width" content="1200" />
<meta property="og:image:height" content="630" />

<meta name="twitter:card" content="summary_large_image" />
<meta property="twitter:domain" content="{{ request.build_absolute_uri }}" />
<meta property="twitter:url" content="{{ request.build_absolute_uri }}" />
<meta
  name="twitter:title"
  content="{% trans 'The Certain News' %} | {% trans 'Blog' %} | {{ post.title }}"
/>
<meta
  name="twitter:description"
  content="{% trans 'The Certain News' %} | {% trans 'Blog' %} | {{ post.title }}"
/>
<meta name="twitter:image" content="{{ post.image.file.url }}" />
{% endblock %}

<div class="hidden badge-secondary badge-error"></div>

<!---->
{% block content %}
<div class="container grid gap-8 mx-auto px-4 py-20">
  {% include 'ui/components/breadcrumbs.html' %}

  <div
    class="prose mx-auto prose-sm prose-video:rounded-box xl:prose-lg 2xl:prose-xl prose-headings:text-primary prose-headings:font-serif rtl:prose-headings:font-kufi prose-img:rounded-box prose-img:w-full prose-pre:bg-base-200 prose-pre:border prose-pre:border-base-300"
  >
    <div class="not-prose grid mb-12 gap-4">
      <div class="flex items-center justify-between gap-4">
        <a
          href="{% url 'ui:author' post.owner.slug %}"
          class="flex items-center gap-2"
        >
          {% if post.owner.photo %}
          <div class="avatar">
            <div class="mask mask-squircle size-10 lg:size-16">
              <img src="{{ post.owner.photo.url }}" alt="{{ post.owner }}" />
            </div>
          </div>
          {% else %}
          <div class="avatar avatar-placeholder">
            <div
              class="mask mask-squircle flex items-center justify-center bg-primary text-primary-content size-10 lg:size-16"
            >
              <span class="text-xl uppercase font-bold lg:text-4xl">
                {{ post.owner.first_name|slice:':1' }}
              </span>
            </div>
          </div>
          {% endif %}

          <div class="grid gap-1">
            <h2 class="text-primary text-lg font-bold lg:text-xl">
              {{ post.owner.get_full_name }}
            </h2>
            <p>{{ post.owner.bio }}</p>
          </div>
        </a>

        <div
          class="tooltip tooltip-left tooltip-primary rtl:tooltip-right"
          data-tip="{% translate 'Translations' %}"
        >
          <button
            popovertarget="translations"
            style="anchor-name: --translations"
            class="btn btn-square btn-soft btn-sm btn-primary md:btn-md 2xl:btn-lg"
          >
            <i data-lucide="languages" class="size-4 lg:size-6"></i>

            <span class="sr-only">{% translate 'Language' %}</span>
          </button>

          <ul
            id="translations"
            popover
            style="position-anchor: --translations"
            class="menu dropdown dropdown-left rounded-box bg-base-100/50 backdrop-blur-3xl text-base-content shadow-sm rtl:dropdown-right"
          >
            <li class="menu-title">{% translate 'Available in' %}</li>

            {% for translation in post.get_translations.live %}
            <li>
              <a
                href="{% pageurl translation %}"
                rel="alternate"
                hreflang="{{ translation.locale.language_code }}"
              >
                {{ translation.locale.language_name_local }}
                <!---->
                ({{ translation.locale.language_code }})
              </a>
            </li>
            {% empty %}
            <li>{% trans 'None' %}</li>
            {% endfor %}
          </ul>
        </div>
      </div>

      <div class="flex text-xs sm:text-sm items-center gap-4">
        <a
          href="{% url 'ui:articles-d' post.created_at.year post.created_at.month post.created_at.day %}"
          class="flex items-center gap-2 link link-primary link-hover"
        >
          <span class="status status-xl status-primary"></span>
          {{ post.created_at|date }}
        </a>
        <span class="status status-xl status-info"></span>
        <span>{% trans 'Last update' %}: {{ post.updated_at }}</span>
      </div>
    </div>

    {% image post.image fill-1920x1080 %}

    <h1>{{ post.title }}</h1>

    <p class="lead">{{ post.headline }}</p>
    {{ post.content }}
  </div>

  <div class="flex mx-auto flex-wrap items-center gap-4">
    {% for tag in post.tags.all %}
    <span
      class="badge {% cycle 'badge-primary' 'badge-secondary' 'badge-success' 'badge-info' 'badge-warning' 'badge-error' %}"
    >
      {{ tag }}
    </span>
    {% endfor %}
  </div>
</div>
{% endblock %}
