{% extends 'ui/base.html' %}{% load i18n tcn %}

<!---->
{% block title %}{{ block.super }} | {% trans 'Authors' %} | {{ user.get_full_name }}{% endblock %}

<!---->
{% block content %}
<div class="container grid gap-12 mx-auto px-4 py-20">
  <section class="grid gap-8">
    <section class="flex flex-col items-center justify-center gap-4">
      {% if user.photo %}
      <div class="avatar">
        <div class="mask mask-squircle size-32 lg:size-56">
          <img src="{{ user.photo.url }}" alt="{{ user }}" />
        </div>
      </div>
      {% else %}
      <div class="avatar avatar-placeholder">
        <div
          class="mask mask-squircle flex items-center justify-center bg-primary text-primary-content size-32 lg:size-56"
        >
          <span class="text-5xl uppercase font-bold lg:text-7xl">
            {{ user.first_name|slice:':1' }}
          </span>
        </div>
      </div>
      {% endif %}
      <h1 class="font-bold text-primary text-xl md:text-3xl lg:text-4xl">
        {{ user.get_full_name }}
      </h1>
      <h2>{{ user.bio }}</h2>
    </section>

    <h3 class="font-bold text-primary text-xl md:text-2xl lg:text-3xl">
      {% trans 'Articles' %}
    </h3>

    <ol class="grid gap-4 grid-cols-12">
      {% for article in articles %}
      <!---->
      {% include 'ui/components/article.html' %}
      <!---->
      {% empty %}
      <li class="col-span-12">
        <article
          class="card card-sm bg-base-200 shadow-xs lg:card-md xl:card-lg 2xl:card-xl overflow-hidden"
        >
          <main class="card-body items-center">
            <i data-lucide="info" class="mx-auto size-1/4 text-primary"></i>
            <h2 class="card-title text-primary">{% trans 'No articles' %}</h2>
            <p>{% trans 'Published news articles will appear here' %}</p>
          </main>
        </article>
      </li>
      {% endfor %}
    </ol>

    {% include 'ui/components/pagination.html' %}
  </section>
</div>
{% endblock %}
