{% load i18n wagtailcore_tags wagtailimages_tags %}

<li
  class="list-row p-2 items-center border border-base-300 hover:bg-base-200 lg:p-4"
>
  <a href="{% pageurl article %}" class="absolute inset-0 z-10">
    <span class="sr-only">{% trans 'Read' %}</span>
  </a>
  <div>
    <figure class="rounded-box size-16 overflow-clip sm:size-24 lg:size-32">
      {% image article.image fill-1080x1080 %}
    </figure>
  </div>
  <div class="flex flex-col gap-1 md:gap-2 lg:gap-4">
    <h2 class="text-primary font-bold md:text-xl lg:text-2xl">
      {{ article.title }}
    </h2>
    <p class="hidden md:block">{{ article.headline }}</p>
  </div>
</li>
