{% load i18n wagtailcore_tags %}

<div
  class="tooltip tooltip-left tooltip-primary rtl:tooltip-right"
  data-tip="{% translate 'Language' %}"
>
  <button
    popovertarget="language"
    style="anchor-name: --language"
    class="btn btn-square btn-soft btn-sm btn-primary md:btn-md 2xl:btn-lg"
  >
    <i data-lucide="languages" class="size-4 lg:size-6"></i>

    <span class="sr-only">{% translate 'Language' %}</span>
  </button>

  <ul
    id="language"
    popover
    style="position-anchor: --language"
    class="menu dropdown dropdown-bottom bg-base-100/75 dark:bg-base-100/50 dropdown-left rounded-box backdrop-blur-3xl text-base-content shadow-xl rtl:dropdown-right"
  >
    <li class="menu-title">{% translate 'Language' %}</li>

    {% for language_code, language_name in LANGUAGES %}
    <!---->
    {% get_language_info for language_code as lang %}
    <li class="tooltip tooltip-primary" data-tip="{{ lang.name_translated }}">
      {% language language_code %}
      <a
        rel="alternate"
        href="{% pageurl page.localized %}"
        hreflang="{{ language_code }}"
        class="flex flex-row items-center justify-between gap-6"
      >
        <span class="flex items-center gap-4">
          {{ language_name }} - ({{ lang.name_local }})
        </span>

        {% if language_code == LANGUAGE_CODE %}
        <i data-lucide="check" class="size-4 lg:size-6"></i>
        {% endif %}
      </a>
      {% endlanguage %}
    </li>
    {% endfor %}
  </ul>
</div>
