{% load i18n static tcn wagtailcore_tags wagtailuserbar %}
<!DOCTYPE html>
<html
  lang="{{ LANGUAGE_CODE }}"
  dir="{% if LANGUAGE_BIDI %}rtl{% else %}ltr{% endif %}"
>
  {% get_site_root as home %}{% get_menu_items home as menu_items %}
  <!---->
  {% get_category_index home as categories_index %}
  <head>
    {% block head %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}{{ home.title }}{% endblock %}</title>
    <meta name="description" content="{{ home.title }}" />
    <link
      rel="shortcut icon"
      href="{% static 'tcn/images/favicon.png' %}"
      type="image/x-icon"
    />

    {% block meta %}
    <meta property="og:url" content="{{ request.build_absolute_uri }}" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="{{ home.title }}" />
    <meta
      property="og:description"
      content="{% trans 'Latest news around the world' %}"
    />
    <meta property="og:image" content="{% static "tcn/images/logo.png" %}" />

    <meta name="twitter:card" content="summary_large_image" />
    <meta property="twitter:domain" content="{{ request.get_host }}" />
    <meta property="twitter:url" content="{{ request.build_absolute_uri }}" />
    <meta name="twitter:title" content="{{ home.title }}" />
    <meta
      name="twitter:description"
      content="{% trans 'Latest news around the world' %}"
    />
    <meta name="twitter:image" content="{% static "tcn/images/logo.png" %}" />
    {% endblock %}

    <!---->
    {% block styles %}
    <link
      href="{% static 'tcn/css/styles.css' %}"
      rel="stylesheet"
      type="text/css"
    />
    <style>
      figure > img {
        height: 100%;
        width: 100%;
        filter: brightness(100%);
      }
    </style>
    {% endblock %}

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Kufi+Arabic:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap"
      rel="stylesheet"
    />
    {% endblock %}
  </head>

  <body class="rtl:font-kufi font-sans antialiased">
    {% wagtailuserbar %}

    <div class="drawer">
      <input id="nav-drawer" type="checkbox" class="drawer-toggle" />

      <section id="content" class="drawer-content">
        <div
          id="main"
          class="bg-base-300 relative h-dvh overflow-hidden sm:p-1 lg:p-2"
        >
          <div class="flex size-full items-center gap-1">
            <section
              class="bg-base-100 relative size-full grow overflow-hidden sm:rounded-box"
            >
              {% block main %}
              <section class="size-full grid gap-8 overflow-y-auto">
                {% block navbar %}
                <header class="absolute inset-x-0 top-0 z-40 backdrop-blur-3xl">
                  <nav class="navbar p-4">
                    <ul class="navbar-start gap-4">
                      <li
                        class="tooltip tooltip-right rtl:tooltip-left tooltip-primary z-10"
                        data-tip="{% trans 'Open drawer' %}"
                      >
                        <label
                          for="nav-drawer"
                          aria-label="{% trans 'close sidebar' %}"
                          class="btn btn-square btn-soft btn-sm btn-primary md:btn-md 2xl:btn-lg"
                        >
                          <i data-lucide="menu" class="size-4 lg:size-6"></i>
                          <span class="sr-only">
                            {% trans 'Open drawer' %}
                          </span>
                        </label>
                      </li>

                      <li
                        class="tooltip tooltip-right rtl:tooltip-left tooltip-primary"
                        data-tip="{{ home.title }}"
                      >
                        <h1 class="relative">
                          <a
                            href="{% pageurl home %}"
                            class="btn btn-square btn-primary lg:btn-lg"
                          >
                            <div
                              class="btn btn-square btn-primary rotate-45 p-0 shadow-none lg:btn-lg"
                            >
                              <i
                                data-lucide="scroll-text"
                                class="-rotate-45 lg:size-8 2xl:size-10"
                              ></i>
                            </div>
                            <span class="sr-only"> {{ home.title }} </span>
                          </a>
                        </h1>
                      </li>

                      <li
                        class="tooltip tooltip-right rtl:tooltip-left tooltip-error"
                        data-tip="{% trans 'Breaking' %}"
                      >
                        <a
                          href="{% url 'tcn:articles' %}?is_breaking=True"
                          class="btn btn-square btn-sm btn-error animate-pulse md:btn-md 2xl:btn-lg"
                        >
                          <i
                            data-lucide="alert-circle"
                            class="size-4 lg:size-6"
                          ></i>
                          <span class="sr-only">{% trans 'Breaking' %}</span>
                        </a>
                      </li>

                      <li
                        class="tooltip tooltip-right rtl:tooltip-left tooltip-primary"
                        data-tip="{% trans 'Latest news' %}"
                      >
                        <a
                          href="{% url 'tcn:articles' %}"
                          class="btn btn-square btn-soft btn-sm btn-primary md:btn-md 2xl:btn-lg"
                        >
                          <i
                            data-lucide="clock-fading"
                            class="size-4 lg:size-6"
                          ></i>
                          <span class="sr-only">{% trans 'Latest news' %}</span>
                        </a>
                      </li>
                    </ul>

                    <ul class="navbar-center hidden gap-4 md:inline-flex">
                      {% for page in menu_items %}
                      <li>
                        <a
                          href="{% pageurl page %}"
                          class="link link-hover link-primary text-xs lg:text-sm"
                        >
                          {{ page.title }}
                        </a>
                      </li>
                      {% endfor %}
                    </ul>

                    <ul class="navbar-end gap-4">
                      <li
                        class="tooltip tooltip-left rtl:tooltip-right tooltip-primary lg:hidden"
                        data-tip="{% trans 'Search' %}"
                      >
                        <a
                          href="{% url 'tcn:search' %}"
                          class="btn btn-square btn-soft btn-sm btn-primary md:btn-md 2xl:btn-lg"
                        >
                          <i data-lucide="search" class="size-4 lg:size-6"></i>
                          <span class="sr-only">{% trans 'Search' %}</span>
                        </a>
                      </li>

                      <li class="hidden lg:block">
                        <form method="get" action="{% url 'tcn:search' %}">
                          <label
                            class="mx-auto max-w-xl w-full bg-transparent input input-ghost input-primary 2xl:input-lg"
                          >
                            <i
                              data-lucide="search"
                              class="size-4 text-primary lg:size-6"
                            ></i>
                            <input
                              required
                              type="search"
                              name="search"
                              class="grow placeholder-primary"
                              placeholder="{% trans 'Search' %}"
                            />
                          </label>
                        </form>
                      </li>

                      {% block languages %}
                      <li
                        class="tooltip tooltip-left rtl:tooltip-right tooltip-primary"
                        data-tip="{% translate 'Language' %}"
                      >
                        <button
                          popovertarget="language"
                          style="anchor-name: --language"
                          class="btn btn-square btn-soft btn-sm btn-primary md:btn-md 2xl:btn-lg"
                        >
                          <i
                            data-lucide="languages"
                            class="size-4 lg:size-6"
                          ></i>

                          <span class="sr-only">
                            {% translate 'Language' %}
                          </span>
                        </button>

                        <form
                          id="lang-form"
                          class="hidden"
                          action="{% url 'set_language' %}"
                          method="post"
                        >
                          {% csrf_token %}
                          <input
                            name="next"
                            type="hidden"
                            value="{{ redirect_to }}"
                          />
                        </form>

                        <ul
                          popover
                          id="language"
                          style="position-anchor: --language"
                          class="menu dropdown dropdown-bottom bg-base-100/75 dark:bg-base-100/50 dropdown-left rounded-box backdrop-blur-3xl shadow-xl rtl:dropdown-right"
                        >
                          <li class="menu-title">{% translate 'Language' %}</li>

                          {% for language_code, language_name in LANGUAGES %}
                          <!---->
                          {% get_language_info for language_code as lang %}
                          <li
                            class="tooltip tooltip-primary"
                            data-tip="{{ lang.name_translated }}"
                          >
                            <label
                              class="flex flex-row items-center justify-between gap-6"
                            >
                              <div class="flex flex-row items-center gap-2">
                                <input
                                  type="submit"
                                  class="hidden"
                                  name="language"
                                  form="lang-form"
                                  value="{{ language_code }}"
                                  aria-label="{{ lang.name_local }} ({{ lang.code }})"
                                />
                                <span>
                                  {{ language_name }} - ({{ lang.name_local }})
                                </span>
                              </div>
                              {% if language_code == LANGUAGE_CODE %}
                              <i
                                data-lucide="check"
                                class="size-4 lg:size-6"
                              ></i>
                              {% endif %}
                            </label>
                          </li>
                          {% endfor %}
                        </ul>
                      </li>
                      {% endblock %}
                    </ul>
                  </nav>
                </header>
                {% endblock %}

                <!---->
                {% include 'tcn/components/messages.html' %}

                <!---->
                {% block container %}
                <div class="container mx-auto grid gap-8 px-4 py-24">
                  {% block content %}{% endblock %}
                </div>
                {% endblock %}

                <!---->
                {% block footer %}{{ home.footer }}{% endblock %}
              </section>
              {% endblock %}
            </section>
          </div>
        </div>
      </section>

      <section id="sidebar" class="drawer-side z-50">
        <label
          for="nav-drawer"
          aria-label="{% trans 'close sidebar' %}"
          class="drawer-overlay"
        ></label>

        <section
          class="bg-base-100/75 dark:bg-base-100/50 flex size-full flex-col overflow-hidden overflow-y-auto backdrop-blur-3xl sm:w-10/12 md:w-8/12 lg:w-1/3 2xl:w-1/4"
        >
          <div class="grid gap-4 p-4">
            <header class="flex items-center justify-between gap-4">
              <div
                class="tooltip tooltip-right rtl:tooltip-left tooltip-primary tooltip-open aspect-square"
                data-tip="{{ home.title }}"
              >
                <h1 class="relative">
                  <a
                    href="{% pageurl home %}"
                    class="btn btn-square btn-primary lg:btn-lg"
                  >
                    <div
                      class="btn btn-square btn-primary rotate-45 p-0 shadow-none lg:btn-lg"
                    >
                      <i
                        data-lucide="scroll-text"
                        class="-rotate-45 lg:size-8 2xl:size-10"
                      ></i>
                    </div>
                    <span class="sr-only">{{ home.title }}</span>
                  </a>
                </h1>
              </div>

              <div class="flex items-center gap-2 lg:gap-4">
                {% if request.user.is_authenticated %}
                <div
                  class="tooltip tooltip-left tooltip-primary rtl:tooltip-right"
                  data-tip="{% trans 'Profile' %}"
                >
                  <a
                    href="{% url 'tcn:profile' %}"
                    class="btn btn-square btn-soft btn-sm btn-primary md:btn-md 2xl:btn-lg"
                  >
                    <i data-lucide="user" class="size-4 lg:size-6"></i>
                    <span class="sr-only">{% trans 'Profile' %}</span>
                  </a>
                </div>
                <div
                  class="tooltip tooltip-left tooltip-error rtl:tooltip-right"
                  data-tip="{% trans 'Log out' %}"
                >
                  <button
                    type="submit"
                    form="logout"
                    class="btn btn-square btn-soft btn-sm btn-error md:btn-md 2xl:btn-lg"
                  >
                    <i data-lucide="log-out" class="size-4 lg:size-6"></i>
                    <span class="sr-only">{% trans 'Log out' %}</span>
                  </button>
                </div>
                {% else %}
                <div
                  class="tooltip tooltip-left tooltip-primary rtl:tooltip-right"
                  data-tip="{% trans 'Log in' %}"
                >
                  <a
                    href="{% url 'tcn:login' %}"
                    class="btn btn-square btn-soft btn-sm btn-primary md:btn-md 2xl:btn-lg"
                  >
                    <i data-lucide="log-in" class="size-4 lg:size-6"></i>
                    <span class="sr-only">{% trans 'Log in' %}</span>
                  </a>
                </div>
                <div
                  class="tooltip tooltip-left tooltip-success rtl:tooltip-right"
                  data-tip="{% trans 'Subscribe' %}"
                >
                  <a
                    href="{% url 'tcn:subscribe' %}"
                    class="btn btn-square btn-soft btn-sm btn-success md:btn-md 2xl:btn-lg"
                  >
                    <i
                      data-lucide="heart-handshake"
                      class="size-4 lg:size-6"
                    ></i>
                    <span class="sr-only">{% trans 'Subscribe' %}</span>
                  </a>
                </div>
                {% endif %}

                <div
                  class="tooltip tooltip-left rtl:tooltip-right"
                  data-tip="{% trans 'Close' %}"
                >
                  <label
                    for="nav-drawer"
                    aria-label="{% trans 'close sidebar' %}"
                    class="btn btn-square btn-sm btn-ghost md:btn-md 2xl:btn-lg"
                  >
                    <i data-lucide="x" class="size-4 lg:size-6"></i>
                    <span class="sr-only">{% trans 'Close' %}</span>
                  </label>
                </div>
              </div>
            </header>

            <form method="get" action="{% url 'tcn:search' %}">
              <label
                class="mx-auto max-w-xl w-full bg-transparent input input-ghost input-primary"
              >
                <i
                  data-lucide="search"
                  class="size-4 text-primary lg:size-6"
                ></i>
                <input
                  required
                  type="search"
                  name="search"
                  class="grow placeholder-primary"
                  placeholder="{% trans 'Search' %}"
                />
              </label>
            </form>
          </div>

          <ol class="menu menu-vertical w-full">
            <li>
              <a href="{% pageurl home %}">{% trans 'Home' %}</a>
            </li>
            <li>
              <a href="{% url 'tcn:articles' %}?is_breaking=True">
                {% trans 'Breaking' %}
              </a>
            </li>
            <li>
              <a href="{% url 'tcn:articles' %}">{% trans 'Latest news' %}</a>
            </li>

            {% if categories_index %}
            <li>
              <details>
                <summary class="group" class="flex items-center gap-2">
                  <a href="{% pageurl categories_index %}">
                    <i data-lucide="link" class="size-4"></i>
                    <span class="sr-only">{{ categories_index }}</span>
                  </a>

                  <span>{{ categories_index.title }}</span>
                </summary>

                <ul>
                  {% for category in categories_index.get_children %}
                  <li>
                    <a href="{% pageurl category %}">{{ category }}</a>
                  </li>
                  {% endfor %}
                </ul>
              </details>
            </li>
            {% endif %}

            <!---->
            {% if menu_items %}
            <!---->
            {% for page in menu_items %}
            <li>
              <a href="{% pageurl page %}">{{ page.title }}</a>
            </li>
            {% endfor %}
            <!---->
            {% endif %}

            <li>
              <a href="{% url 'tcn:archive' %}">{% trans 'Archive' %}</a>
            </li>
          </ol>
        </section>
      </section>
    </div>

    <form
      id="logout"
      action="{% url 'tcn:logout' %}"
      method="post"
      class="hidden"
    >
      {% csrf_token %}
    </form>

    <script src="https://unpkg.com/lucide@latest"></script>
    <script>
      lucide.createIcons();
    </script>
  </body>
</html>
