{% extends 'registration/form.html' %}{% load i18n %}

<!---->
{% block title %}{{ block.super }} | {% trans 'Delete account' %}{% endblock %}

<!---->
{% block breadcrumbs %} {{ block.super }}
<li>{% trans 'Delete account' %}</li>
{% endblock %}

<!---->
{% block form_content %}
<h1 class="text-primary text-xl font-semibold lg:text-4xl">
  {% trans 'Delete account' %}
</h1>

<p class="lg:text-xl">
  {% trans 'Are your sure that you want to delete your account?' %}
</p>

<div class="alert alert-error">
  <i data-lucide="circle-x" class="size-4 lg:size-6"></i>
  <p>{% trans 'This action is destructive!' %}</p>
</div>
{% endblock %}
