<!-- prettier ignore -->
{% extends 'registration/base.html' %}{% load i18n %}

<!-- prettier ignore -->
{% block title %}{{ block.super }} | {% trans 'Logged out' %}{% endblock %}

<!-- prettier ignore -->
{% block main %}
<section
  class="flex col-span-12 size-full items-center justify-center rounded-box bg-base-100 lg:p-40"
>
  <div
    class="card gap-4 mx-2 max-w-md card-body w-full rounded-box bg-base-200"
  >
    <h1 class="text-3xl font-black">{% trans 'Logged Out' %}</h1>

    <p>
      <!-- prettier ignore -->
      {% trans 'Thanks for spending some quality time with us today.' %}
    </p>

    <a href="{% url 'ui:login' %}" class="btn btn-lg btn-primary">
      {% trans 'Login' %}
    </a>
  </div>
</section>
{% endblock %}
