{% extends 'registration/base.html' %}{% load i18n %}

<!---->
{% block title %}{{ block.super }} | {% trans 'Log in' %}{% endblock %}

<!---->
{% block content %}
<div
  class="flex col-span-12 py-24 items-center justify-center rounded-box bg-base-100"
>
  <section
    class="card relative overflow-hidden max-w-3xl rounded-box bg-base-200 shadow-xs lg:card-lg"
  >
    <header
      class="tooltip tooltip-bottom tooltip-primary tooltip-open mt-4 mx-auto"
      data-tip="{% trans 'The Certain News' %}"
    >
      <a href="/" class="btn btn-square btn-xl btn-primary">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="lucide lucide-feather-text-icon lucide-feather-text size-8"
        >
          <path d="M17.9 8H9.2" />
          <path d="M5.1 12H14l8-8.2c-2.3-2.3-6.1-2.3-8.5 0L2 15" />
          <path d="M2 19h8" />
          <path
            d="M21 17v1c0 1 1 1.5 1 2.5 0 .8-.7 1.5-1.5 1.5h-5c-.8 0-1.5-.7-1.5-1.5 0-1 1-1.5 1-2.5v-1"
          />
          <path d="M14 17h8" />
        </svg>
        <span class="sr-only">{% trans 'The Certain News' %}</span>
      </a>
    </header>

    <main class="card-body gap-6">
      <h2 class="text-xl font-bold text-primary lg:text-3xl">
        {% trans 'Log in' %}
      </h2>

      <p>{% trans 'Welcome, please login to continue.' %}</p>

      <!---->
      {% if next %}
      <!---->
      {% if user.is_authenticated %}
      <div role="alert" class="alert alert-horizontal alert-warning">
        <i data-lucide="triangle-alert" class="size-4 lg:size-6"></i>

        <p>
          {% blocktrans trimmed %}Your account doesn't have access to this page.
          To proceed, please login with an account that has access.
          <!---->
          {% endblocktrans %}
        </p>
      </div>
      <!---->
      {% endif %}
      <!---->
      {% endif %}

      <!---->
      {% include 'ui/components/form.html' %}
    </main>

    <footer class="grid grid-cols-2">
      <a
        href="{% url 'ui:subscribe' %}"
        class="btn rounded-none btn-soft btn-primary"
      >
        {% trans 'Subscribe' %}
      </a>
      <a
        href="{% url 'ui:password_reset' %}"
        class="btn rounded-none btn-soft btn-primary"
      >
        {% trans 'Forgot password?' %}
      </a>
    </footer>
  </section>
</div>
{% endblock %}
