{% extends "registration/base.html" %}{% load i18n %}

<!---->
{% block title %}{% trans 'Password Reset Confirm' %}{% endblock %}

<!---->
{% block content %}
<section
  class="flex col-span-12 size-full items-center justify-center rounded-box bg-base-100 lg:p-40"
>
  <div
    class="card gap-4 mx-2 max-w-md card-body w-full rounded-box bg-base-200"
  >
    <h1 class="text-primary text-xl font-semibold lg:text-4xl">
      {% trans 'Password Reset Confirmation' %}
    </h1>

    {% if validlink %}
    <p>
      {% blocktrans trimmed %}Please enter your new password twice so we can
      verify you typed it in correctly.{% endblocktrans %}
    </p>
    {% include 'ui/components/form.html' %}
    <!---->
    {% else %}
    <p>
      {% blocktrans trimmed %}The password reset link was invalid, possibly
      because it has already been used. Please request a new password reset.
      <!---->
      {% endblocktrans %}
    </p>
    {% endif %}
  </div>
</section>
{% endblock %}
