{% extends "registration/base.html" %}{% load i18n %}

<!---->
{% block title %}{{ block.super }} | {% trans 'Password Reset' %}{% endblock %}

<!---->
{% block content %}
<section
  class="flex col-span-12 size-full items-center justify-center rounded-box bg-base-100 lg:p-40"
>
  <div
    class="card gap-4 mx-2 max-w-md card-body w-full rounded-box bg-base-200"
  >
    <h1 class="text-primary text-xl font-semibold lg:text-4xl">
      {% trans 'Reset Password' %}
    </h1>

    <p>
      {% trans 'Your password has been set. You may go ahead and log in now.' %}
    </p>

    <a href="{% url 'ui:login' %}" class="btn btn-primary">
      {% trans 'Log in' %}
    </a>
  </div>
</section>
{% endblock %}
