{% extends "registration/base.html" %}{% load i18n %}

<!---->
{% block title %}{% trans 'Password Changed' %}{% endblock %}

<!---->
{% block breadcrumbs %}
<li>{% trans 'Password' %}</li>
<li>
  <a href="{% url 'ui:password_change' %}">{% trans 'Change' %}</a>
</li>
<li>{% trans 'Done' %}</li>
{% endblock %}

<!---->
{% block main_content %}
<div class="grid gap-4">
  <h1 class="text-primary text-xl font-semibold lg:text-4xl">
    {% trans 'Congrats' %}
  </h1>

  <p>{% trans 'Your password was changed.' %}</p>
</div>
{% endblock %}
