{% extends "registration/base.html" %}{% load i18n %}

<!---->
{% block title %}{{ block.super }} | {% trans 'Password Change' %}{% endblock %}

<!---->
{% block breadcrumbs %}
<li>{% trans 'Password' %}</li>
<li>{% trans 'Change' %}</li>
{% endblock %}

<!---->
{% block main_content %}
<section class="grid gap-8">
  <h1 class="text-primary text-xl font-semibold lg:text-4xl">
    {% trans 'Change password' %}
  </h1>

  <p>
    {% blocktrans trimmed %}Please enter your old password, for security's sake,
    and then enter your new password twice so we can verify you typed it in
    correctly.{% endblocktrans %}
  </p>

  {% include 'ui/components/form.html' %}
</section>
{% endblock %}
