<!-- prettier ignore -->
{% load i18n %}

<!-- prettier ignore -->
{% autoescape off %}

<!-- prettier ignore -->
{% blocktranslate %}You're receiving this email because you requested a
password reset for your user account at {{ site_name }}.{% endblocktranslate %}

<!-- prettier ignore -->
{% trans "Please go to the following page and choose a new password:" %}

<!-- prettier ignore -->
{% block reset_link %}{{ protocol }}://{{ domain }}{% url 'ui:password_reset_confirm' uidb64=uid token=token %}{% endblock %}

<!-- prettier ignore -->
{% trans "Your username, in case you've forgotten:" %} {{ user.get_username }}
{% trans "Thanks for using our site!" %}

<!-- prettier ignore -->
{% blocktranslate %}The {{ site_name }} team{% endblocktranslate %}

<!-- prettier ignore -->
{% endautoescape %}
