{% extends 'ui/base.html' %}{% load i18n wagtailcore_tags %}

<!---->
{% block title %}{{ block.super }} | {% trans 'Log in' %}{% endblock %}

<!---->
{% block content %}
<div class="flex px-4 pb-20 pt-28 items-center justify-center">
  <section
    class="card card-sm w-full max-w-lg bg-base-200 shadow-xs md:card-md xl:card-lg 2xl:card-xl 2xl:max-w-xl"
  >
    <div class="mx-auto p-6">
      <header
        class="tooltip tooltip-bottom tooltip-primary tooltip-open"
        data-tip="{% trans 'The Certain News' %}"
      >
        <h1 class="relative">
          <a
            href="{% pageurl home %}"
            class="btn btn-square btn-primary lg:btn-lg"
          >
            <div
              class="btn btn-square btn-primary rotate-45 p-0 shadow-none lg:btn-lg"
            >
              <i
                data-lucide="scroll-text"
                class="-rotate-45 lg:size-8 2xl:size-10"
              ></i>
            </div>
            <span class="sr-only">{% trans 'The Certain News' %}</span>
          </a>
        </h1>
      </header>
    </div>

    <main class="card-body gap-6">
      <h2 class="card-title text-primary">{% trans 'Log in' %}</h2>

      <p>{% trans 'Welcome, please login to continue.' %}</p>

      <!---->
      {% if next %}
      <!---->
      {% if user.is_authenticated %}
      <div role="alert" class="alert alert-horizontal alert-warning">
        <i data-lucide="triangle-alert" class="size-4 lg:size-6"></i>

        <p>
          {% blocktrans trimmed %}Your account doesn't have access to this page.
          To proceed, please login with an account that has access.
          <!---->
          {% endblocktrans %}
        </p>
      </div>
      <!---->
      {% endif %}
      <!---->
      {% endif %}

      <!---->
      {% include 'ui/components/form.html' %}

      <div class="grid gap-4 grid-cols-2">
        <a href="{% url 'ui:subscribe' %}" class="btn btn-soft btn-primary">
          {% trans 'Subscribe' %}
        </a>
        <a
          href="{% url 'ui:password_reset' %}"
          class="btn btn-soft btn-primary"
        >
          {% trans 'Forgot password?' %}
        </a>
      </div>
    </main>
  </section>
</div>
{% endblock %}
