{% extends 'tcn/base.html' %}{% load i18n wagtailcore_tags %}

<!---->
{% block title %}{% trans 'Password Reset Confirm' %}{% endblock %}

<!---->
{% block container %}
<div class="container mx-auto px-4 py-24 flex items-center justify-center">
  <section
    class="card card-sm w-full max-w-lg bg-base-200 shadow-xs md:card-md xl:card-lg 2xl:card-xl 2xl:max-w-xl"
  >
    <div class="mx-auto p-6">
      <header
        class="tooltip tooltip-bottom tooltip-primary"
        data-tip="{{ home.title }}"
      >
        <h1 class="relative">
          <a
            href="{% pageurl home %}"
            class="btn btn-square btn-lg btn-primary lg:btn-xl"
          >
            <div
              class="btn btn-square btn-lg btn-primary rotate-45 p-0 shadow-none lg:btn-xl"
            >
              <span class="-rotate-45 text-sm font-bold font-kufi lg:text-base">
                ٱليَقِين
              </span>
            </div>
            <span class="sr-only">{{ home.title }}</span>
          </a>
        </h1>
      </header>
    </div>

    <main class="card-body gap-6">
      <div class="container-prose">
        <h2>{% trans 'Password Reset Confirm' %}</h2>

        {% if validlink %}
        <p>
          {% blocktrans trimmed %}Please enter your new password twice so we can
          verify you typed it in correctly.{% endblocktrans %}
        </p>

        <div class="not-prose">{% include 'tcn/components/form.html' %}</div>
        {% else %}
        <p>
          {% blocktrans trimmed %}The password reset link was invalid, possibly
          because it has already been used. Please request a new password reset.
          <!---->
          {% endblocktrans %}
        </p>
        {% endif %}
      </div>
    </main>
  </section>
</div>
{% endblock %}
