{% extends 'tcn/base.html' %}{% load i18n wagtailcore_tags %}

<!---->
{% block title %}{% trans 'Password Reset Done' %}{% endblock %}

<!---->
{% block container %}
<div class="container mx-auto px-4 py-24 flex items-center justify-center">
  <section
    class="card card-sm w-full max-w-lg bg-base-200 shadow-xs md:card-md xl:card-lg 2xl:card-xl 2xl:max-w-xl"
  >
    <div class="mx-auto p-6">
      <header
        class="tooltip tooltip-bottom tooltip-primary tooltip-open"
        data-tip="{{ home.title }}"
      >
        <h1 class="relative">
          <a
            href="{% pageurl home %}"
            class="btn btn-square btn-lg btn-primary lg:btn-xl"
          >
            <div
              class="btn btn-square btn-lg btn-primary rotate-45 p-0 shadow-none lg:btn-xl"
            >
              <span class="-rotate-45 text-sm font-bold font-kufi lg:text-base">
                ٱليَقِين
              </span>
            </div>
            <span class="sr-only">{{ home.title }}</span>
          </a>
        </h1>
      </header>
    </div>

    <main class="card-body gap-6">
      <div class="container-prose">
        <h2>{% trans 'Password Reset Done' %}</h2>

        <p>
          {% blocktrans trimmed %}We've emailed you instructions for setting
          your password, if an account exists with the email you entered. You
          should receive them shortly.{% endblocktrans %}
        </p>
        <p>
          {% blocktrans trimmed %}If you don't receive an email, please make
          sure you've entered the address you registered with, and check your
          spam folder.{% endblocktrans %}
        </p>
      </div>

      <a
        href="{% url 'tcn:login' %}"
        class="btn btn-sm btn-soft btn-success lg:btn-md 2xl:btn-lg"
      >
        <i data-lucide="log-in" class="size-4 lg:size-6"></i>
        {% trans 'Log in' %}
      </a>
    </main>
  </section>
</div>
{% endblock %}
