{% extends 'registration/base.html' %}{% load i18n wagtailcore_tags %}

<!---->
{% block title %}{% trans 'Password Reset Done' %}{% endblock %}

<!---->
{% block content %}
<div class="flex px-4 pb-20 pt-28 items-center justify-center">
  <section
    class="card card-sm w-full max-w-lg bg-base-200 shadow-xs md:card-md xl:card-lg 2xl:card-xl 2xl:max-w-xl"
  >
    <div class="mx-auto p-6">
      <header
        class="tooltip tooltip-bottom tooltip-primary tooltip-open"
        data-tip="{% trans 'The Certain News' %}"
      >
        <h1 class="relative">
          <a
            href="{% pageurl home %}"
            class="btn btn-square btn-primary lg:btn-lg"
          >
            <div
              class="btn btn-square btn-primary rotate-45 p-0 shadow-none lg:btn-lg"
            >
              <i
                data-lucide="scroll-text"
                class="-rotate-45 lg:size-8 2xl:size-10"
              ></i>
            </div>
            <span class="sr-only">{% trans 'The Certain News' %}</span>
          </a>
        </h1>
      </header>
    </div>

    <main class="card-body gap-6">
      <h2 class="card-title text-primary">{% trans 'Password Reset Done' %}</h2>

      <p>
        {% blocktrans trimmed %}We've emailed you instructions for setting your
        password, if an account exists with the email you entered. You should
        receive them shortly.{% endblocktrans %}
      </p>
      <p>
        {% blocktrans trimmed %}If you don't receive an email, please make sure
        you've entered the address you registered with, and check your spam
        folder.{% endblocktrans %}
      </p>

      <a href="{% url 'ui:login' %}" class="btn btn-sm btn-primary lg:btn-lg">
        {% trans 'Log in' %}
      </a>
    </main>
  </section>
</div>
{% endblock %}
