{% extends 'registration/base.html' %}{% load i18n %}

<!---->
{% block title %}{{ block.super }} | {% trans 'Password Change' %}{% endblock %}

<!---->
{% block main_content %}
<section class="container-prose">
  <h1>{% trans 'Change password' %}</h1>

  <p>
    {% blocktrans trimmed %}Please enter your old password, for security's sake,
    and then enter your new password twice so we can verify you typed it in
    correctly.{% endblocktrans %}
  </p>

  {% include 'tcn/components/form.html' %}
</section>
{% endblock %}
