{% extends 'tcn/base.html' %}{% load i18n wagtailcore_tags %}

<!---->
{% block title %}{{ block.super }} | {% trans 'Password Reset' %}{% endblock %}

<!---->
{% block container %}
<div class="container mx-auto px-4 py-24 flex items-center justify-center">
  <section
    class="card card-sm w-full max-w-lg bg-base-200 shadow-xs md:card-md xl:card-lg 2xl:card-xl 2xl:max-w-xl"
  >
    <div class="mx-auto p-6">
      <header
        class="tooltip tooltip-bottom tooltip-primary tooltip-open"
        data-tip="{{ home.title }}"
      >
        <h1 class="relative">
          <a
            href="{% pageurl home %}"
            class="btn btn-square btn-primary lg:btn-lg"
          >
            <div
              class="btn btn-square btn-primary rotate-45 p-0 shadow-none lg:btn-lg"
            >
              <i
                data-lucide="scroll-text"
                class="-rotate-45 lg:size-8 2xl:size-10"
              ></i>
            </div>
            <span class="sr-only">{{ home.title }}</span>
          </a>
        </h1>
      </header>
    </div>

    <main class="card-body gap-6">
      <div class="container-prose">
        <h2>{% trans 'Password Reset Confirm' %}</h2>

        <p>
          {% blocktrans trimmed %}Your password has been set. You may go ahead
          and log in now.{% endblocktrans %}
        </p>
      </div>

      <a
        href="{% url 'tcn:login' %}"
        class="btn btn-sm btn-soft btn-success lg:btn-md 2xl:btn-lg"
      >
        <i data-lucide="log-in" class="size-4 lg:size-6"></i>
        {% trans 'Log in' %}
      </a>
    </main>
  </section>
</div>
{% endblock %}
