{% extends 'registration/base.html' %}{% load i18n wagtailimages_tags %}

<!---->
{% block main_content %}
<section id="profile" class="flex items-center justify-center gap-6 size-full">
  <div
    class="card card-sm w-full max-w-lg bg-base-200 shadow-xs md:card-md xl:card-lg 2xl:card-xl 2xl:max-w-xl"
  >
    <figure class="mx-auto size-32 lg:size-56">
      <i data-lucide="user" class="size-full text-primary"></i>
    </figure>

    <div class="card-body gap-4 lg:gap-6">
      <h1 class="card-title text-center text-primary">
        {{ request.user.get_full_name }}
      </h1>
      <p>{% trans 'Welcome to your Profile' %}</p>
    </div>
  </div>
</section>
{% endblock %}
