{% extends 'registration/base.html' %}{% load i18n %}

<!---->
{% block main_content %}
<section class="grid gap-8 size-full">
  <div class="container-prose">
    {% if request.user.photo %}
    <figure class="size-32 rounded-full mx-auto overflow-hidden lg:size-44">
      <img
        class="w-full"
        src="{{ request.user.photo.url }}"
        alt="{{ request.user }}"
      />
    </figure>
    {% else %}
    <div
      class="size-32 rounded-box mx-auto mb-8 bg-primary text-primary-content overflow-hidden lg:size-44"
    >
      <i data-lucide="user" class="size-full"></i>
    </div>
    {% endif %}

    <h1 class="text-center">
      {% firstof request.user.get_full_name request.user.username %}
    </h1>
    <p class="lead text-center">{{ request.user.bio|default_if_none:"" }}</p>
  </div>
</section>
{% endblock %}
