{% extends 'registration/base.html' %}{% load i18n wagtailcore_tags %}

<!---->
{% block title %}{{ block.super }} | {% trans 'Following' %}{% endblock %}

<!---->
{% block main_content %}
<div class="container-prose">
  <h1>{% trans 'Following' %}</h1>
</div>

<ol class="list grid grid-cols-1 lg:grid-cols-2 gap-4">
  {% for user in users %}
  <li
    class="list-row border-base-300 hover:bg-base-200 relative items-center border"
  >
    <a href="{% url 'tcn:author' user.slug %}" class="absolute inset-0 z-10">
      <span class="sr-only">{% trans 'Details' %}</span>
    </a>

    <div>
      {% if user.photo %}
      <figure
        class="grid rounded-full size-16 overflow-hidden sm:size-24 lg:size-32"
      >
        <img src="{{ user.photo.url }}" alt="{{ user }}" class="w-full" />
      </figure>
      {% else %}
      <div class="avatar avatar-placeholder">
        <div class="rounded-full size-16 overflow-hidden sm:size-24 lg:size-32">
          <span class="text-5xl uppercase font-bold lg:text-7xl">
            {{ user.first_name|slice:':1' }}
          </span>
        </div>
      </div>
      {% endif %}
    </div>

    <div class="flex flex-col gap-1 md:gap-2 lg:gap-4">
      <h2 class="text-primary font-bold md:text-lg lg:text-xl">
        {{ user.get_full_name }}
      </h2>
      <p class="text-xs">{{ user.bio }}</p>
    </div>
  </li>
  {% empty %}
  <li class="col-span-full">
    <div class="container-prose">
      <h2>{% trans 'No results' %}</h2>
      <p>{% trans "We couldn't find any results." %}</p>
    </div>
  </li>
  {% endfor %}
</ol>

{% include 'tcn/components/pagination.html' %}

<!---->
{% endblock %}
