{% load i18n static tcn wagtailcore_tags wagtailuserbar %}
<!DOCTYPE html>
<html
  lang="{{ LANGUAGE_CODE }}"
  dir="{% if LANGUAGE_CODE == 'ar' %}rtl{% else %}ltr{% endif %}"
>
  <head>
    {% block head %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}{% trans 'The Certain News' %}{% endblock %}</title>
    {% block meta %}
    <meta
      name="description"
      content="{% trans 'The Certain News - Journalism with Certainty.' %}"
    />
    <meta
      property="og:url"
      content="https://thecertainnews.pythonanywhere.com"
    />
    <meta property="og:type" content="website" />
    <meta
      property="og:title"
      content="{% trans 'The Certain News - Journalism with Certainty.' %}"
    />
    <meta
      property="og:description"
      content="{% trans 'The Certain News - Journalism with Certainty.' %}"
    />
    <meta
      property="og:image"
      content="https://thecertainnews.pythonanywhere.com/banner.png"
    />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />

    <meta name="twitter:card" content="summary_large_image" />
    <meta
      property="twitter:domain"
      content="thecertainnews.pythonanywhere.com"
    />
    <meta
      property="twitter:url"
      content="https://thecertainnews.pythonanywhere.com"
    />
    <meta
      name="twitter:title"
      content="{% trans 'The Certain News - Journalism with Certainty.' %}"
    />
    <meta
      name="twitter:description"
      content="{% trans 'The Certain News - Journalism with Certainty.' %}"
    />
    <meta
      name="twitter:image"
      content="https://thecertainnews.pythonanywhere.com/banner.png"
    />
    {% endblock %}

    <!---->
    {% block styles %}
    <link
      href="{% static 'ui/css/styles.css' %}"
      rel="stylesheet"
      type="text/css"
    />
    <style>
      figure > img {
        height: 100%;
        width: 100%;
        filter: brightness(100%);
      }
    </style>
    {% endblock %}

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Kufi+Arabic:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap"
      rel="stylesheet"
    />
    {% endblock %}
  </head>

  <body class="rtl:font-kufi font-sans antialiased">
    {% wagtailuserbar %}

    <div class="drawer">
      <input id="nav-drawer" type="checkbox" class="drawer-toggle" />

      <section id="content" class="drawer-content">
        {% get_site_root as home %}
        <div
          id="main"
          class="bg-base-300 relative h-dvh overflow-hidden sm:p-1 lg:p-2"
        >
          <div class="flex size-full items-center gap-1">
            <section
              class="bg-base-100 relative size-full grow overflow-hidden sm:rounded-box"
            >
              <section class="size-full grid gap-8 overflow-y-auto">
                <!-- Navbar -->
                {% block navbar %}
                <header class="absolute inset-x-0 top-0 z-40 backdrop-blur-3xl">
                  <nav class="navbar p-4">
                    <div class="navbar-start gap-4">
                      <div
                        class="tooltip tooltip-right rtl:tooltip-left tooltip-primary z-10"
                        data-tip="{% trans 'Open drawer' %}"
                      >
                        <label
                          for="nav-drawer"
                          aria-label="{% trans 'close sidebar' %}"
                          class="btn btn-square btn-soft btn-sm btn-primary md:btn-md 2xl:btn-lg"
                        >
                          <i data-lucide="menu" class="size-4 lg:size-6"></i>
                          <span class="sr-only">
                            {% trans 'Open drawer' %}
                          </span>
                        </label>
                      </div>

                      <div
                        class="tooltip tooltip-right rtl:tooltip-left tooltip-primary"
                        data-tip="{% trans 'The Certain News' %}"
                      >
                        <h1 class="relative">
                          <a
                            href="{% pageurl home %}"
                            class="btn btn-square btn-primary lg:btn-lg"
                          >
                            <div
                              class="btn btn-square btn-primary rotate-45 p-0 shadow-none lg:btn-lg"
                            >
                              <i
                                data-lucide="scroll-text"
                                class="-rotate-45 lg:size-8 2xl:size-10"
                              ></i>
                            </div>
                            <span class="sr-only">
                              {% trans 'The Certain News' %}
                            </span>
                          </a>
                        </h1>
                      </div>

                      <div
                        class="tooltip tooltip-right rtl:tooltip-left tooltip-error"
                        data-tip="{% trans 'Breaking' %}"
                      >
                        <a
                          href="{% url 'ui:articles' %}?is_breaking=True"
                          class="btn btn-square btn-sm btn-error animate-pulse md:btn-md 2xl:btn-lg"
                        >
                          <i
                            data-lucide="alert-circle"
                            class="size-4 lg:size-6"
                          ></i>
                          <span class="sr-only">{% trans 'Breaking' %}</span>
                        </a>
                      </div>

                      <div
                        class="tooltip tooltip-right rtl:tooltip-left tooltip-primary"
                        data-tip="{% trans 'Latest news' %}"
                      >
                        <a
                          href="{% url 'ui:articles' %}"
                          class="btn btn-square btn-soft btn-sm btn-primary md:btn-md 2xl:btn-lg"
                        >
                          <i
                            data-lucide="clock-fading"
                            class="size-4 lg:size-6"
                          ></i>
                          <span class="sr-only">{% trans 'Latest news' %}</span>
                        </a>
                      </div>
                    </div>

                    <div class="navbar-end gap-2">
                      <div
                        class="tooltip tooltip-left rtl:tooltip-right tooltip-primary"
                        data-tip="{% translate 'Language' %}"
                      >
                        <button
                          popovertarget="language"
                          style="anchor-name: --language"
                          class="btn btn-square btn-soft btn-sm btn-primary md:btn-md 2xl:btn-lg"
                        >
                          <i
                            data-lucide="languages"
                            class="size-4 lg:size-6"
                          ></i>

                          <span class="sr-only"
                            >{% translate 'Language' %}</span
                          >
                        </button>

                        <ul
                          id="language"
                          popover
                          style="position-anchor: --language"
                          class="menu dropdown dropdown-bottom bg-base-100/75 dark:bg-base-100/50 dropdown-left rounded-box backdrop-blur-3xl text-base-content shadow-xl rtl:dropdown-right"
                        >
                          <li class="menu-title">{% translate 'Language' %}</li>
                          <form
                            id="lang-form"
                            class="hidden"
                            action="{% url 'set_language' %}"
                            method="post"
                          >
                            {% csrf_token %}
                            <input
                              name="next"
                              type="hidden"
                              value="{{ redirect_to }}"
                            />
                          </form>
                          <!---->
                          {% get_available_languages as LANGS %}
                          <!---->
                          {% get_language_info_list for LANGS as langs %}
                          <!---->
                          {% for language in langs %}
                          <li>
                            <label
                              class="flex flex-row items-center justify-between gap-6"
                            >
                              <div class="flex flex-row items-center gap-2">
                                <input
                                  form="lang-form"
                                  type="submit"
                                  name="language"
                                  value="{{ language.code|upper }}"
                                  aria-label="{{ language.name_local }} ({{ language.code }})"
                                />
                                <span>
                                  {{ language.name_local }}
                                  <!---->
                                  ({{ language.code }})
                                </span>
                              </div>
                              {% if language.code == LANGUAGE_CODE %}
                              <i
                                data-lucide="check"
                                class="size-4 lg:size-6"
                              ></i>
                              {% endif %}
                            </label>
                          </li>
                          {% endfor %}
                        </ul>
                      </div>

                      <div
                        class="tooltip tooltip-left rtl:tooltip-right tooltip-primary lg:hidden"
                        data-tip="{% trans 'Search' %}"
                      >
                        <a
                          href="{% url 'ui:search' %}"
                          class="btn btn-square btn-soft btn-sm btn-primary md:btn-md 2xl:btn-lg"
                        >
                          <i data-lucide="search" class="size-4 lg:size-6"></i>
                          <span class="sr-only">{% trans 'Search' %}</span>
                        </a>
                      </div>

                      <form
                        method="get"
                        action="{% url 'ui:search' %}"
                        class="hidden lg:block"
                      >
                        <label
                          class="mx-auto max-w-xl w-full bg-transparent input input-primary 2xl:input-lg"
                        >
                          <i
                            data-lucide="search"
                            class="size-4 text-primary lg:size-6"
                          ></i>
                          <input
                            required
                            type="search"
                            name="search"
                            class="grow placeholder-primary"
                            placeholder="{% trans 'Search' %}"
                          />

                          <button
                            type="submit"
                            class="btn btn-square btn-soft btn-sm btn-primary"
                          >
                            <i
                              data-lucide="check-circle2"
                              class="size-4 lg:size-6"
                            ></i>
                            <span class="sr-only">{% trans 'Search' %}</span>
                          </button>
                        </label>
                      </form>
                    </div>
                  </nav>
                </header>
                {% endblock %}

                <!---->
                {% include 'ui/components/messages.html' %}

                <!---->
                {% block content %}{% endblock %}

                <!---->
                {% block footer %}
                <div class="grid gap-4 w-full">
                  <footer class="footer gap-4 w-full sm:footer-horizontal p-10">
                    <nav>
                      <div class="footer-title">{% trans 'Services' %}</div>
                      <a href="#" class="link link-hover">{% trans 'Ads' %}</a>
                      <a href="#" class="link link-hover">{% trans 'News' %}</a>
                    </nav>
                    <nav>
                      <div class="footer-title">{% trans 'Company' %}</div>
                      {% for page in home.get_children %}
                      <a href="{% pageurl page %}" class="link link-hover">
                        {{ page }}
                      </a>
                      {% endfor %}
                    </nav>
                    <nav>
                      <div class="footer-title">{% trans 'Legal' %}</div>
                      <a href="#" class="link link-hover">
                        {% trans 'Terms of use' %}
                      </a>
                      <a href="#" class="link link-hover">
                        {% trans 'Privacy policy' %}
                      </a>
                      <a href="#" class="link link-hover">
                        {% trans 'Cookie policy' %}
                      </a>
                    </nav>
                  </footer>
                  <footer
                    class="footer gap-4 w-full border-base-300 border-t p-10"
                  >
                    <aside class="grid-flow-col gap-4 items-center">
                      <h1 class="relative">
                        <a
                          href="{% pageurl home %}"
                          class="btn btn-square btn-primary lg:btn-lg"
                        >
                          <div
                            class="btn btn-square btn-primary rotate-45 p-0 shadow-none lg:btn-lg"
                          >
                            <i
                              data-lucide="scroll-text"
                              class="-rotate-45 lg:size-8 2xl:size-10"
                            ></i>
                          </div>
                          <span class="sr-only">
                            {% trans 'The Certain News' %}
                          </span>
                        </a>
                      </h1>

                      <p class="text-primary">
                        {% trans 'The Certain News' %}
                        <br />
                        {% trans 'Journalism with Certainty' %}
                      </p>
                    </aside>
                    <nav class="grid gap-4">
                      <div class="grid grid-flow-col gap-4">
                        <div
                          class="tooltip tooltip-right rtl:tooltip-left tooltip-success"
                          data-tip="{% trans 'Facebook' %}"
                        >
                          <a
                            href="https://facebook.com/"
                            class="btn btn-sm btn-square lg:btn-md btn-primary"
                          >
                            <i
                              data-lucide="facebook"
                              class="size-4 lg:size-6"
                            ></i>
                            <span class="sr-only">{% trans 'Facebook' %}</span>
                          </a>
                        </div>
                        <div
                          class="tooltip tooltip-right rtl:tooltip-left tooltip-success"
                          data-tip="{% trans 'Instagram' %}"
                        >
                          <a
                            href="https://instagram.com/"
                            class="btn btn-sm btn-square lg:btn-md btn-primary"
                          >
                            <i
                              data-lucide="instagram"
                              class="size-4 lg:size-6"
                            ></i>
                            <span class="sr-only">{% trans 'Instagram' %}</span>
                          </a>
                        </div>
                        <div
                          class="tooltip tooltip-right rtl:tooltip-left tooltip-success"
                          data-tip="{% trans 'Linkedin' %}"
                        >
                          <a
                            href="https://linkedin.com/"
                            class="btn btn-sm btn-square lg:btn-md btn-primary"
                          >
                            <i
                              data-lucide="linkedin"
                              class="size-4 lg:size-6"
                            ></i>
                            <span class="sr-only">{% trans 'Linkedin' %}</span>
                          </a>
                        </div>
                        <div
                          class="tooltip tooltip-right rtl:tooltip-left tooltip-success"
                          data-tip="{% trans 'RSS' %}"
                        >
                          <a
                            href="{% url 'ui:rss-latest' %}"
                            class="btn btn-sm btn-square lg:btn-md btn-primary"
                          >
                            <i data-lucide="rss" class="size-4 lg:size-6"></i>
                            <span class="sr-only">{% trans 'RSS' %}</span>
                          </a>
                        </div>
                      </div>
                      <span class="flex items-center gap-2 text-primary">
                        <i data-lucide="copyright" class="size-4 lg:size-6"></i>
                        {% trans 'The Certain News' %}
                      </span>
                    </nav>
                  </footer>
                </div>
                {% endblock %}
              </section>
            </section>
          </div>
        </div>
      </section>

      <section id="sidebar" class="drawer-side z-50">
        <label
          for="nav-drawer"
          aria-label="{% trans 'close sidebar' %}"
          class="drawer-overlay"
        ></label>

        <section
          class="bg-base-100/75 dark:bg-base-100/50 flex size-full flex-col overflow-hidden overflow-y-auto backdrop-blur-3xl sm:w-10/12 md:w-8/12 lg:w-1/3 2xl:w-1/4"
        >
          <div class="grid gap-4 p-4">
            <header class="flex items-center justify-between gap-4">
              <div
                class="tooltip tooltip-right rtl:tooltip-left tooltip-primary tooltip-open aspect-square"
                data-tip="{% trans 'The Certain News' %}"
              >
                <h1 class="relative">
                  <a
                    href="{% pageurl home %}"
                    class="btn btn-square btn-primary lg:btn-lg"
                  >
                    <div
                      class="btn btn-square btn-primary rotate-45 p-0 shadow-none lg:btn-lg"
                    >
                      <i
                        data-lucide="scroll-text"
                        class="-rotate-45 lg:size-8 2xl:size-10"
                      ></i>
                    </div>
                    <span class="sr-only">{% trans 'The Certain News' %}</span>
                  </a>
                </h1>
              </div>

              <div class="flex items-center gap-2 lg:gap-4">
                {% if request.user.is_authenticated %}
                <div
                  class="tooltip tooltip-left tooltip-primary rtl:tooltip-right"
                  data-tip="{% trans 'Profile' %}"
                >
                  <a
                    href="{% url 'ui:profile' %}"
                    class="btn btn-square btn-soft btn-sm btn-primary md:btn-md 2xl:btn-lg"
                  >
                    <i data-lucide="user" class="size-4 lg:size-6"></i>
                    <span class="sr-only">{% trans 'Profile' %}</span>
                  </a>
                </div>
                <div
                  class="tooltip tooltip-left tooltip-error rtl:tooltip-right"
                  data-tip="{% trans 'Log out' %}"
                >
                  <button
                    type="submit"
                    form="logout"
                    class="btn btn-square btn-soft btn-sm btn-error md:btn-md 2xl:btn-lg"
                  >
                    <i data-lucide="log-out" class="size-4 lg:size-6"></i>
                    <span class="sr-only">{% trans 'Log out' %}</span>
                  </button>
                </div>
                {% else %}
                <div
                  class="tooltip tooltip-left tooltip-primary rtl:tooltip-right"
                  data-tip="{% trans 'Log in' %}"
                >
                  <a
                    href="{% url 'ui:login' %}"
                    class="btn btn-square btn-soft btn-sm btn-primary md:btn-md 2xl:btn-lg"
                  >
                    <i data-lucide="log-in" class="size-4 lg:size-6"></i>
                    <span class="sr-only">{% trans 'Log in' %}</span>
                  </a>
                </div>
                <div
                  class="tooltip tooltip-left tooltip-success rtl:tooltip-right"
                  data-tip="{% trans 'Subscribe' %}"
                >
                  <a
                    href="{% url 'ui:subscribe' %}"
                    class="btn btn-square btn-soft btn-sm btn-success md:btn-md 2xl:btn-lg"
                  >
                    <i
                      data-lucide="heart-handshake"
                      class="size-4 lg:size-6"
                    ></i>
                    <span class="sr-only">{% trans 'Subscribe' %}</span>
                  </a>
                </div>
                {% endif %}

                <div
                  class="tooltip tooltip-left rtl:tooltip-right"
                  data-tip="{% trans 'Close' %}"
                >
                  <label
                    for="nav-drawer"
                    aria-label="{% trans 'close sidebar' %}"
                    class="btn btn-square btn-sm btn-ghost md:btn-md 2xl:btn-lg"
                  >
                    <i data-lucide="x" class="size-4 lg:size-6"></i>
                    <span class="sr-only">{% trans 'Close' %}</span>
                  </label>
                </div>
              </div>
            </header>

            <form method="get" action="{% url 'ui:search' %}">
              <label
                class="mx-auto max-w-xl w-full bg-transparent input input-primary"
              >
                <i
                  data-lucide="search"
                  class="size-4 text-primary lg:size-6"
                ></i>
                <input
                  required
                  type="search"
                  name="search"
                  class="grow placeholder-primary"
                  placeholder="{% trans 'Search' %}"
                />

                <button
                  type="submit"
                  class="btn btn-xs btn-square btn-soft sm:btn-sm btn-primary"
                >
                  <i data-lucide="check-circle2" class="size-4 lg:size-6"></i>
                  <span class="sr-only">{% trans 'Search' %}</span>
                </button>
              </label>
            </form>
          </div>

          <ol class="menu menu-vertical w-full">
            <li>
              <a href="{% pageurl home %}">{% trans 'Home' %}</a>
            </li>
            <li>
              <a href="{% url 'ui:articles' %}?is_breaking=True">
                {% trans 'Breaking' %}
              </a>
            </li>
            <li>
              <a href="{% url 'ui:articles' %}">{% trans 'Latest news' %}</a>
            </li>
            <li>
              <a href="{% url 'ui:archive' %}">{% trans 'Archive' %}</a>
            </li>

            {% if categories_index %}
            <li>
              <details>
                <summary class="group" class="flex items-center gap-2">
                  <a href="{% pageurl categories_index %}">
                    <i data-lucide="link" class="size-4"></i>
                    <span class="sr-only">{{ categories_index }}</span>
                  </a>

                  <span>{{ categories_index.title }}</span>
                </summary>

                <ul>
                  {% for category in categories_index.get_children %}
                  <li>
                    <a href="{% pageurl category %}">{{ category }}</a>
                  </li>
                  {% endfor %}
                </ul>
              </details>
            </li>
            {% endif %}
          </ol>
        </section>
      </section>
    </div>

    <form
      id="logout"
      action="{% url 'ui:logout' %}"
      method="post"
      class="hidden"
    >
      {% csrf_token %}
    </form>

    <script src="https://unpkg.com/lucide@latest"></script>
    <script>
      lucide.createIcons();
    </script>
  </body>
</html>
