{% load i18n static tcn wagtailcore_tags wagtailimages_tags wagtailuserbar %}
<!DOCTYPE html>
<html
  lang="{{ LANGUAGE_CODE }}"
  dir="{% if LANGUAGE_CODE == 'ar' %}rtl{% else %}ltr{% endif %}"
>
  <head>
    {% block head %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}{% trans 'The Certain News' %}{% endblock %}</title>
    {% block meta %}
    <meta
      name="description"
      content="{% trans 'The Certain News - Journalism with Certainty.' %}"
    />
    <meta
      property="og:url"
      content="https://thecertainnews.pythonanywhere.com"
    />
    <meta property="og:type" content="website" />
    <meta
      property="og:title"
      content="{% trans 'The Certain News - Journalism with Certainty.' %}"
    />
    <meta
      property="og:description"
      content="{% trans 'The Certain News - Journalism with Certainty.' %}"
    />
    <meta
      property="og:image"
      content="https://thecertainnews.pythonanywhere.com/banner.png"
    />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />

    <meta name="twitter:card" content="summary_large_image" />
    <meta
      property="twitter:domain"
      content="thecertainnews.pythonanywhere.com"
    />
    <meta
      property="twitter:url"
      content="https://thecertainnews.pythonanywhere.com"
    />
    <meta
      name="twitter:title"
      content="{% trans 'The Certain News - Journalism with Certainty.' %}"
    />
    <meta
      name="twitter:description"
      content="{% trans 'The Certain News - Journalism with Certainty.' %}"
    />
    <meta
      name="twitter:image"
      content="https://thecertainnews.pythonanywhere.com/banner.png"
    />
    {% endblock %}

    <!---->
    {% block styles %}
    <link
      href="{% static 'ui/css/styles.css' %}"
      rel="stylesheet"
      type="text/css"
    />
    <style>
      figure > img {
        height: 100%;
        width: 100%;
        filter: brightness(100%);
      }
    </style>
    {% endblock %}

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Kufi+Arabic:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap"
      rel="stylesheet"
    />
    {% endblock %}
  </head>

  <body class="rtl:font-kufi font-sans antialiased">
    {% wagtailuserbar %}

    <div class="drawer">
      <input id="nav-drawer" type="checkbox" class="drawer-toggle" />

      <section id="content" class="drawer-content">
        <div
          id="main"
          class="bg-base-300 relative h-dvh overflow-hidden sm:p-1 lg:p-2"
        >
          <div class="flex size-full items-center gap-1">
            <aside class="z-50 hidden h-full p-1 sm:block">
              <nav
                class="navbar h-full flex-col items-center justify-between gap-4 p-0"
              >
                <ol class="navbar-start flex-col gap-4">
                  <li
                    class="tooltip tooltip-right rtl:tooltip-left tooltip-primary aspect-square"
                    data-tip="{% trans 'The Certain News' %}"
                  >
                    {% get_site_root as home %}
                    <h1 class="relative">
                      <a
                        href="{% page_url home LANGUAGE_CODE %}"
                        class="btn btn-square btn-primary lg:btn-lg"
                      >
                        <div
                          class="bg-primary rounded-field text-primary-content absolute inset-0 size-full flex rotate-45 items-center justify-center"
                        >
                          <i
                            data-lucide="scroll-text"
                            class="-rotate-45 lg:size-8 2xl:size-10"
                          ></i>
                        </div>
                        <span class="sr-only"
                          >{% trans 'The Certain News' %}</span
                        >
                      </a>
                    </h1>
                  </li>

                  <li
                    class="tooltip tooltip-right rtl:tooltip-left tooltip-primary aspect-square"
                    data-tip="{% trans 'Open drawer' %}"
                  >
                    <label
                      for="nav-drawer"
                      aria-label="{% trans 'close sidebar' %}"
                      class="btn btn-square btn-soft btn-sm btn-primary md:btn-md 2xl:btn-lg"
                    >
                      <i data-lucide="menu" class="size-4 md:size-6"></i>
                      <span class="sr-only">{% trans 'Open drawer' %}</span>
                    </label>
                  </li>

                  <li
                    class="tooltip tooltip-right rtl:tooltip-left tooltip-primary aspect-square"
                    data-tip="{% trans 'Home' %}"
                  >
                    <a
                      href="{% page_url home LANGUAGE_CODE %}"
                      class="btn btn-square btn-soft btn-sm btn-primary md:btn-md 2xl:btn-lg"
                    >
                      <i data-lucide="home" class="size-4 md:size-6"></i>
                      <span class="sr-only">{% trans 'Home' %}</span>
                    </a>
                  </li>

                  {% if request.user.is_staff %}
                  <li
                    class="tooltip tooltip-right rtl:tooltip-left tooltip-primary aspect-square"
                    data-tip="{% trans 'Dashboard' %}"
                  >
                    <a
                      href="{% url 'wagtailadmin_home' %}"
                      class="btn btn-square btn-soft btn-sm btn-primary md:btn-md 2xl:btn-lg"
                    >
                      <i
                        data-lucide="layout-dashboard"
                        class="size-4 md:size-6"
                      ></i>
                      <span class="sr-only">{% trans 'Dashboard' %}</span>
                    </a>
                  </li>
                  {% endif %}

                  <!---->
                  {% if categories_index %}
                  <li
                    class="tooltip tooltip-right rtl:tooltip-left tooltip-primary aspect-square"
                    data-tip="{% trans 'Categories' %}"
                  >
                    <a
                      href="{% pageurl categories_index %}"
                      class="btn btn-square btn-soft btn-sm btn-primary md:btn-md 2xl:btn-lg"
                    >
                      <i data-lucide="layers" class="size-4 md:size-6"></i>
                      <span class="sr-only">{% trans 'Categories' %}</span>
                    </a>
                  </li>
                  {% else %}
                  <li
                    class="tooltip tooltip-right rtl:tooltip-left tooltip-primary aspect-square"
                    data-tip="{% trans 'Categories' %}"
                  >
                    <a
                      href="{% slug_url 'categories' LANGUAGE_CODE %}"
                      class="btn btn-square btn-soft btn-sm btn-primary md:btn-md 2xl:btn-lg"
                    >
                      <i data-lucide="layers" class="size-4 md:size-6"></i>
                      <span class="sr-only">{% trans 'Categories' %}</span>
                    </a>
                  </li>
                  {% endif %}

                  <li
                    class="tooltip tooltip-right rtl:tooltip-left tooltip-primary aspect-square"
                    data-tip="{% trans 'Archive' %}"
                  >
                    <a
                      href="{% url 'ui:archive' %}"
                      class="btn btn-square btn-soft btn-sm btn-primary md:btn-md 2xl:btn-lg"
                    >
                      <i
                        data-lucide="folder-archive"
                        class="size-4 md:size-6"
                      ></i>
                      <span class="sr-only">{% trans 'Archive' %}</span>
                    </a>
                  </li>
                </ol>

                <ol class="navbar-end w-full flex-col gap-2">
                  <li
                    class="tooltip tooltip-right rtl:tooltip-left tooltip-primary"
                    data-tip="{% translate 'Language' %}"
                  >
                    <button
                      popovertarget="language"
                      style="anchor-name: --language"
                      class="btn btn-square btn-soft btn-sm btn-primary md:btn-md 2xl:btn-lg"
                    >
                      <i data-lucide="languages" class="size-4 lg:size-6"></i>

                      <span class="sr-only">{% translate 'Language' %}</span>
                    </button>

                    <ul
                      id="language"
                      popover
                      style="position-anchor: --language"
                      class="menu dropdown dropdown-top dropdown-right rounded-box bg-base-100/75 dark:bg-base-100/50 backdrop-blur-3xl text-base-content shadow-sm rtl:dropdown-left rtl:dropdown-top"
                    >
                      <li class="menu-title">{% translate 'Language' %}</li>
                      <form
                        id="lang-form"
                        class="hidden"
                        action="{% url 'set_language' %}"
                        method="post"
                      >
                        {% csrf_token %}
                        <input
                          name="next"
                          type="hidden"
                          value="{{ redirect_to }}"
                        />
                      </form>
                      <!---->
                      {% get_available_languages as LANGUAGES %}
                      <!---->
                      {% get_language_info_list for LANGUAGES as languages %}
                      <!---->
                      {% for language in languages %}
                      <li>
                        <label
                          class="flex flex-row items-center justify-between gap-6"
                        >
                          <div class="flex flex-row items-center gap-2">
                            <input
                              form="lang-form"
                              type="submit"
                              name="language"
                              value="{{ language.code|upper }}"
                              aria-label="{{ language.name_local }} ({{ language.code }})"
                            />
                            <span>
                              {{ language.name_local }} ({{ language.code }})
                            </span>
                          </div>
                          {% if language.code == LANGUAGE_CODE %}
                          <i data-lucide="check" class="size-4 lg:size-6"></i>
                          {% endif %}
                        </label>
                      </li>
                      {% endfor %}
                    </ul>
                  </li>

                  <li class="collapse max-w-10 overflow-visible">
                    <input
                      type="checkbox"
                      class="sr-only"
                      id="account-collapse"
                    />

                    <div
                      class="tooltip tooltip-right rtl:tooltip-left tooltip-primary aspect-square"
                      data-tip="{% trans 'Account' %}"
                    >
                      <label
                        for="account-collapse"
                        class="collapse-title btn btn-square btn-soft btn-sm btn-primary md:btn-md 2xl:btn-lg"
                      >
                        <i
                          data-lucide="user-circle"
                          class="size-4 md:size-6"
                        ></i>
                        <span class="sr-only">{% trans 'Account' %}</span>
                      </label>
                    </div>

                    <div
                      class="collapse-content flex flex-col items-center gap-1 p-0 pt-1"
                    >
                      {% if request.user.is_authenticated %}
                      <div
                        class="tooltip tooltip-top tooltip-success"
                        data-tip="{% trans 'Profile' %}"
                      >
                        <a
                          href="{% url 'ui:profile' %}"
                          class="btn btn-square btn-sm btn-soft btn-success"
                        >
                          <i data-lucide="user" class="size-4 md:size-5"></i>
                          <span class="sr-only">{% trans 'Profile' %}</span>
                        </a>
                      </div>
                      <div
                        class="tooltip tooltip-top tooltip-error"
                        data-tip="{% trans 'Log out' %}"
                      >
                        <button
                          type="submit"
                          form="logout"
                          class="btn btn-square btn-sm btn-soft btn-error"
                        >
                          <i data-lucide="log-out" class="size-4 md:size-5"></i>
                          <span class="sr-only">{% trans 'Log out' %}</span>
                        </button>
                      </div>
                      {% else %}
                      <div
                        class="tooltip tooltip-top tooltip-success"
                        data-tip="{% trans 'Sign up' %}"
                      >
                        <a
                          href="{% url 'ui:subscribe' %}"
                          class="btn btn-square btn-sm btn-soft btn-success"
                        >
                          <i
                            data-lucide="heart-handshake"
                            class="size-4 md:size-5"
                          ></i>
                          <span class="sr-only">{% trans 'Sign up' %}</span>
                        </a>
                      </div>
                      <div
                        class="tooltip tooltip-top tooltip-primary"
                        data-tip="{% trans 'Log in' %}"
                      >
                        <a
                          href="{% url 'ui:login' %}"
                          class="btn btn-square btn-sm btn-soft btn-primary"
                        >
                          <i data-lucide="log-in" class="size-4 md:size-5"></i>
                          <span class="sr-only">{% trans 'Log in' %}</span>
                        </a>
                      </div>
                      {% endif %}
                    </div>
                  </li>
                </ol>
              </nav>
            </aside>

            <section
              class="bg-base-100 relative size-full grow overflow-hidden sm:rounded-box"
            >
              <section class="size-full grid gap-8 overflow-y-auto">
                <!-- Navbar -->
                {% block navbar %}
                <header
                  class="absolute inset-x-0 top-0 z-40 px-2 backdrop-blur-3xl lg:px-4"
                >
                  <nav class="navbar p-0">
                    <div class="navbar-start gap-4">
                      <div
                        class="tooltip tooltip-right rtl:tooltip-left tooltip-primary z-10 sm:hidden"
                        data-tip="{% trans 'Open drawer' %}"
                      >
                        <label
                          for="nav-drawer"
                          aria-label="{% trans 'close sidebar' %}"
                          class="btn btn-square btn-soft btn-sm btn-primary md:btn-md 2xl:btn-lg"
                        >
                          <i data-lucide="menu" class="size-4 md:size-6"></i>
                          <span class="sr-only">
                            {% trans 'Open drawer' %}
                          </span>
                        </label>
                      </div>

                      <div
                        class="tooltip tooltip-right rtl:tooltip-left tooltip-primary sm:hidden"
                        data-tip="{% trans 'The Certain News' %}"
                      >
                        <h1 class="relative">
                          <a
                            href="{% page_url home LANGUAGE_CODE %}"
                            class="btn btn-square btn-primary lg:btn-lg"
                          >
                            <div
                              class="bg-primary rounded-field text-primary-content absolute inset-0 size-full flex rotate-45 items-center justify-center"
                            >
                              <i
                                data-lucide="scroll-text"
                                class="-rotate-45 lg:size-8 2xl:size-10"
                              ></i>
                            </div>
                            <span class="sr-only">
                              {% trans 'The Certain News' %}
                            </span>
                          </a>
                        </h1>
                      </div>

                      <div
                        class="tooltip tooltip-right rtl:tooltip-left tooltip-error"
                        data-tip="{% trans 'Breaking' %}"
                      >
                        <a
                          href="{% url 'ui:articles' %}?is_breaking=True"
                          class="btn btn-square btn-sm btn-error animate-pulse md:btn-md 2xl:btn-lg"
                        >
                          <i
                            data-lucide="alert-circle"
                            class="size-4 md:size-6"
                          ></i>
                          <span class="sr-only"> {% trans 'Breaking' %} </span>
                        </a>
                      </div>

                      <div
                        class="tooltip tooltip-right rtl:tooltip-left tooltip-primary"
                        data-tip="{% trans 'Latest news' %}"
                      >
                        <a
                          href="{% url 'ui:articles' %}"
                          class="btn btn-square btn-soft btn-sm btn-primary md:btn-md 2xl:btn-lg"
                        >
                          <i
                            data-lucide="clock-fading"
                            class="size-4 md:size-6"
                          ></i>
                          <span class="sr-only">{% trans 'Latest news' %}</span>
                        </a>
                      </div>
                    </div>

                    <div class="navbar-end gap-2">
                      {% if request.user.is_authenticated %}
                      <div
                        class="tooltip tooltip-left rtl:tooltip-right tooltip-primary sm:hidden"
                        data-tip="{% trans 'Profile' %}"
                      >
                        <a
                          href="{% url 'ui:profile' %}"
                          class="btn btn-square btn-soft btn-sm btn-primary md:btn-md 2xl:btn-lg"
                        >
                          <i data-lucide="user" class="size-4 md:size-6"></i>
                          <span class="sr-only">{% trans 'Profile' %}</span>
                        </a>
                      </div>
                      {% else %}
                      <div
                        class="tooltip tooltip-left rtl:tooltip-right tooltip-primary"
                        data-tip="{% trans 'Log in' %}"
                      >
                        <a
                          href="{% url 'ui:login' %}"
                          class="btn btn-square btn-soft btn-sm btn-primary md:btn-md 2xl:btn-lg"
                        >
                          <i data-lucide="log-in" class="size-4 md:size-6"></i>
                          <span class="sr-only">{% trans 'Log in' %}</span>
                        </a>
                      </div>
                      <div
                        class="tooltip tooltip-left rtl:tooltip-right tooltip-success"
                        data-tip="{% trans 'Sign up' %}"
                      >
                        <a
                          href="{% url 'ui:subscribe' %}"
                          class="btn btn-square btn-soft btn-sm btn-success md:btn-md 2xl:btn-lg"
                        >
                          <i
                            data-lucide="heart-handshake"
                            class="size-4 md:size-6"
                          ></i>
                          <span class="sr-only">{% trans 'Sign up' %}</span>
                        </a>
                      </div>
                      {% endif %}

                      <form
                        method="get"
                        action="{% url 'ui:search' %}"
                        class="hidden lg:block"
                      >
                        <label
                          class="mx-auto max-w-xl w-full bg-transparent input input-primary xl:input-lg 2xl:input-xl"
                        >
                          <i
                            data-lucide="search"
                            class="size-4 text-primary md:size-6"
                          ></i>
                          <input
                            required
                            type="search"
                            name="search"
                            class="grow placeholder-primary"
                            placeholder="{% trans 'Search' %}"
                          />

                          <button
                            type="submit"
                            class="btn btn-square btn-soft btn-sm btn-primary"
                          >
                            <i
                              data-lucide="check-circle2"
                              class="size-4 md:size-6"
                            ></i>
                            <span class="sr-only">{% trans 'Search' %}</span>
                          </button>
                        </label>
                      </form>

                      <div
                        class="tooltip tooltip-left rtl:tooltip-right tooltip-primary lg:hidden"
                        data-tip="{% trans 'Search' %}"
                      >
                        <a
                          href="{% url 'ui:search' %}"
                          class="btn btn-square btn-soft btn-sm btn-primary md:btn-md 2xl:btn-lg"
                        >
                          <i data-lucide="search" class="size-4 md:size-6"></i>
                          <span class="sr-only">{% trans 'Search' %}</span>
                        </a>
                      </div>
                    </div>
                  </nav>
                </header>
                {% endblock %}

                <!---->
                {% include 'ui/components/messages.html' %}

                <!---->
                {% block content %}{% endblock %}

                <!---->
                {% block footer %}
                <div class="grid gap-4 w-full">
                  <footer class="footer gap-4 w-full sm:footer-horizontal p-10">
                    <nav>
                      <div class="footer-title">{% trans 'Services' %}</div>
                      <a href="#" class="link link-hover">{% trans 'Ads' %}</a>
                      <a href="#" class="link link-hover">{% trans 'News' %}</a>
                    </nav>
                    <nav>
                      <div class="footer-title">{% trans 'Company' %}</div>
                      {% if blog_index %}
                      <a
                        href="{% pageurl blog_index %}"
                        class="link link-hover"
                      >
                        {% trans 'Blog' %}
                      </a>
                      {% else %}
                      <a
                        href="{% slug_url 'blog' LANGUAGE_CODE %}"
                        class="link link-hover"
                      >
                        {% trans 'Blog' %}
                      </a>
                      {% endif %}
                      <!---->
                      {% if about %}
                      <a href="{% pageurl about %}" class="link link-hover">
                        {% trans 'About us' %}
                      </a>
                      {% else %}
                      <a
                        href="{% slug_url 'about-us' LANGUAGE_CODE %}"
                        class="link link-hover"
                      >
                        {% trans 'About us' %}
                      </a>
                      {% endif %}
                      <!---->
                      {% if contact %}
                      <a href="{% pageurl contact %}" class="link link-hover">
                        {% trans 'Contact us' %}
                      </a>
                      {% else %}
                      <a
                        href="{% slug_url 'contact-us' LANGUAGE_CODE %}"
                        class="link link-hover"
                      >
                        {% trans 'Contact us' %}
                      </a>
                      {% endif %}
                    </nav>
                    <nav>
                      <div class="footer-title">{% trans 'Legal' %}</div>
                      <a href="#" class="link link-hover">
                        {% trans 'Terms of use' %}
                      </a>
                      <a href="#" class="link link-hover">
                        {% trans 'Privacy policy' %}
                      </a>
                      <a href="#" class="link link-hover">
                        {% trans 'Cookie policy' %}
                      </a>
                    </nav>
                  </footer>
                  <footer
                    class="footer gap-4 w-full border-base-300 border-t p-10"
                  >
                    <aside class="grid-flow-col gap-4 items-center">
                      <h1 class="relative">
                        <a
                          href="{% page_url home LANGUAGE_CODE %}"
                          class="btn btn-square btn-primary lg:btn-lg"
                        >
                          <div
                            class="bg-primary rounded-field text-primary-content absolute inset-0 size-full flex rotate-45 items-center justify-center"
                          >
                            <i
                              data-lucide="scroll-text"
                              class="-rotate-45 lg:size-8 2xl:size-10"
                            ></i>
                          </div>
                          <span class="sr-only">
                            {% trans 'The Certain News' %}
                          </span>
                        </a>
                      </h1>

                      <p class="text-primary">
                        {% trans 'The Certain News' %}
                        <br />
                        {% trans 'Journalism with Certainty' %}
                      </p>
                    </aside>
                    <nav class="grid gap-4">
                      <div class="grid grid-flow-col gap-4">
                        <a class="btn btn-sm btn-square lg:btn-md btn-primary">
                          <i
                            data-lucide="facebook"
                            class="size-4 md:size-6"
                          ></i>
                        </a>
                        <a class="btn btn-sm btn-square lg:btn-md btn-primary">
                          <i
                            data-lucide="instagram"
                            class="size-4 md:size-6"
                          ></i>
                        </a>
                        <a class="btn btn-sm btn-square lg:btn-md btn-primary">
                          <i
                            data-lucide="linkedin"
                            class="size-4 md:size-6"
                          ></i>
                        </a>
                      </div>
                      <span class="flex items-center gap-2 text-primary">
                        <i data-lucide="copyright" class="size-4 md:size-6"></i>
                        {% trans 'The Certain News' %}
                      </span>
                    </nav>
                  </footer>
                </div>
                {% endblock %}
              </section>
            </section>
          </div>
        </div>
      </section>

      <section id="sidebar" class="drawer-side z-50">
        <label
          for="nav-drawer"
          aria-label="{% trans 'close sidebar' %}"
          class="drawer-overlay"
        ></label>

        <section
          class="bg-base-100/75 dark:bg-base-100/50 flex size-full flex-col justify-between overflow-hidden overflow-y-auto backdrop-blur-3xl sm:w-10/12 md:w-8/12 lg:w-1/3 2xl:w-1/4"
        >
          <div class="grid">
            <header class="flex items-center justify-between gap-4 p-4">
              <div
                class="tooltip tooltip-right rtl:tooltip-left tooltip-primary tooltip-open aspect-square"
                data-tip="{% trans 'The Certain News' %}"
              >
                <h1 class="relative">
                  <a
                    href="{% page_url home LANGUAGE_CODE %}"
                    class="btn btn-square btn-primary lg:btn-lg"
                  >
                    <div
                      class="bg-primary rounded-field text-primary-content absolute inset-0 size-full flex rotate-45 items-center justify-center"
                    >
                      <i
                        data-lucide="scroll-text"
                        class="-rotate-45 lg:size-8 2xl:size-10"
                      ></i>
                    </div>
                    <span class="sr-only">{% trans 'The Certain News' %}</span>
                  </a>
                </h1>
              </div>

              <div
                class="tooltip tooltip-left rtl:tooltip-right hover:tooltip-error"
                data-tip="{% trans 'Close' %}"
              >
                <label
                  for="nav-drawer"
                  aria-label="{% trans 'close sidebar' %}"
                  class="btn btn-square btn-soft btn-sm btn-primary hover:btn-error md:btn-md 2xl:btn-lg"
                >
                  <i data-lucide="x" class="size-4 md:size-6"></i>
                  <span class="sr-only">{% trans 'Close' %}</span>
                </label>
              </div>
            </header>

            <ol class="grid size-full grow gap-4 overflow-y-auto px-4">
              <li class="pt-2 lg:hidden">
                <form method="get" action="{% url 'ui:search' %}">
                  <label
                    class="mx-auto max-w-xl w-full bg-transparent input input-primary"
                  >
                    <i
                      data-lucide="search"
                      class="size-4 text-primary md:size-6"
                    ></i>
                    <input
                      required
                      type="search"
                      name="search"
                      class="grow placeholder-primary"
                      placeholder="{% trans 'Search' %}"
                    />

                    <button
                      type="submit"
                      class="btn btn-xs btn-square btn-soft sm:btn-sm btn-primary"
                    >
                      <i
                        data-lucide="check-circle2"
                        class="size-4 md:size-6"
                      ></i>
                      <span class="sr-only">{% trans 'Search' %}</span>
                    </button>
                  </label>
                </form>
              </li>

              <li>
                <a
                  href="{% page_url home LANGUAGE_CODE %}"
                  class="btn btn-sm btn-ghost btn-primary md:btn-md btn-block 2xl:btn-xl justify-start"
                >
                  <i data-lucide="home" class="size-4 md:size-6"></i>
                  <span>{% trans 'Home' %}</span>
                </a>
              </li>

              {% if request.user.is_staff %}
              <li class="sm:hidden">
                <a
                  href="{% url 'wagtailadmin_home' %}"
                  class="btn btn-sm btn-ghost btn-primary md:btn-md btn-block 2xl:btn-xl justify-between"
                >
                  <span class="flex items-center gap-[inherit]">
                    <i
                      data-lucide="layout-dashboard"
                      class="size-4 md:size-6"
                    ></i>
                    <span>{% trans 'Dashboard' %}</span>
                  </span>

                  <i
                    data-lucide="chevron-right"
                    class="size-4 md:size-6 2xl:size-8 rtl:rotate-180"
                  ></i>
                </a>
              </li>
              {% endif %}

              <!---->
              {% if categories_index %}
              <li class="sm:hidden">
                <a
                  href="{% pageurl categories_index %}"
                  class="btn btn-sm btn-ghost btn-primary md:btn-md btn-block 2xl:btn-xl justify-start"
                >
                  <i data-lucide="layers" class="size-4 md:size-6"></i>
                  <span>{% trans 'Categories' %}</span>
                </a>
              </li>
              {% else %}
              <li class="sm:hidden">
                <a
                  href="{% slug_url 'categories' LANGUAGE_CODE %}"
                  class="btn btn-sm btn-ghost btn-primary md:btn-md btn-block 2xl:btn-xl justify-start"
                >
                  <i data-lucide="layers" class="size-4 md:size-6"></i>
                  <span>{% trans 'Categories' %}</span>
                </a>
              </li>
              {% endif %}

              <li>
                <a
                  href="{% url 'ui:archive' %}"
                  class="btn btn-sm btn-ghost btn-primary md:btn-md btn-block 2xl:btn-xl justify-start"
                >
                  <i data-lucide="folder-archive" class="size-4 md:size-6"></i>
                  <span>{% trans 'Archive' %}</span>
                </a>
              </li>

              {% if blog_index %}
              <li>
                <a
                  href="{% pageurl blog_index %}"
                  class="btn btn-sm btn-ghost btn-primary md:btn-md btn-block 2xl:btn-xl justify-start"
                >
                  <i data-lucide="newspaper" class="size-4 md:size-6"></i>
                  <span>{% trans 'Blog' %}</span>
                </a>
              </li>
              {% else %}
              <li>
                <a
                  href="{% slug_url 'blog' LANGUAGE_CODE %}"
                  class="btn btn-sm btn-ghost btn-primary md:btn-md btn-block 2xl:btn-xl justify-start"
                >
                  <i data-lucide="newspaper" class="size-4 md:size-6"></i>
                  <span>{% trans 'Blog' %}</span>
                </a>
              </li>
              {% endif %}

              <!---->
              {% if about %}
              <li>
                <a
                  href="{% pageurl about %}"
                  class="btn btn-sm btn-ghost btn-primary md:btn-md btn-block 2xl:btn-xl justify-start"
                >
                  <i data-lucide="info" class="size-4 md:size-6"></i>
                  <span>{% trans 'About us' %}</span>
                </a>
              </li>
              {% else %}
              <li>
                <a
                  href="{% slug_url 'about-us' LANGUAGE_CODE %}"
                  class="btn btn-sm btn-ghost btn-primary md:btn-md btn-block 2xl:btn-xl justify-start"
                >
                  <i data-lucide="info" class="size-4 md:size-6"></i>
                  <span>{% trans 'About us' %}</span>
                </a>
              </li>
              {% endif %}

              <!---->
              {% if contact %}
              <li>
                <a
                  href="{% pageurl contact %}"
                  class="btn btn-sm btn-ghost btn-primary md:btn-md btn-block 2xl:btn-xl justify-start"
                >
                  <i data-lucide="contact" class="size-4 md:size-6"></i>
                  <span>{% trans 'Contact us' %}</span>
                </a>
              </li>
              {% else %}
              <li>
                <a
                  href="{% slug_url 'contact-us' LANGUAGE_CODE %}"
                  class="btn btn-sm btn-ghost btn-primary md:btn-md btn-block 2xl:btn-xl justify-start"
                >
                  <i data-lucide="contact" class="size-4 md:size-6"></i>
                  <span>{% trans 'Contact us' %}</span>
                </a>
              </li>
              {% endif %}
            </ol>
          </div>

          <ol class="grid gap-4 p-4">
            {% if request.user.is_authenticated %}
            <li>
              <a
                href="{% url 'ui:profile' %}"
                class="btn btn-sm btn-ghost btn-primary md:btn-md btn-block 2xl:btn-xl justify-start"
              >
                <i data-lucide="user" class="size-4 md:size-6"></i>
                <span>{% trans 'Profile' %}</span>
              </a>
            </li>
            <li>
              <button
                type="submit"
                form="logout"
                class="btn btn-sm btn-soft btn-error md:btn-md btn-block 2xl:btn-xl justify-start"
              >
                <i data-lucide="log-out" class="size-4 md:size-6"></i>
                <span>{% trans 'Log out' %}</span>
              </button>
            </li>
            {% else %}
            <li>
              <a
                href="{% url 'ui:login' %}"
                class="btn btn-sm btn-ghost btn-primary md:btn-md btn-block 2xl:btn-xl justify-start"
              >
                <i data-lucide="user" class="size-4 md:size-6"></i>
                <span>{% trans 'Log in' %}</span>
              </a>
            </li>
            <li>
              <a
                href="{% url 'ui:subscribe' %}"
                class="btn btn-sm btn-soft btn-success md:btn-md btn-block 2xl:btn-xl justify-start"
              >
                <i data-lucide="heart-handshake" class="size-4 md:size-6"></i>
                <span>{% trans 'Sign up' %}</span>
              </a>
            </li>
            {% endif %}
          </ol>
        </section>
      </section>
    </div>

    <form
      id="logout"
      action="{% url 'ui:logout' %}"
      method="post"
      class="hidden"
    >
      {% csrf_token %}
    </form>

    <script src="https://unpkg.com/lucide@latest"></script>
    <script>
      lucide.createIcons();
    </script>
  </body>
</html>
