{% extends 'ui/base.html' %}{% load i18n wagtailcore_tags wagtailimages_tags %}

<!---->
{% block styles %}{{ block.super }}
<style>
  figure > img {
    height: 100%;
    width: 100%;
  }
</style>
{% endblock %}

<!---->
{% block content %}
<div class="container grid gap-12 mx-auto px-4 py-20">
  <ol
    title="{% trans 'Breaking' %}"
    class="grid grid-cols-12 grid-rows-[auto] gap-4"
  >
    {% for article in breaking_news %}
    <!---->
    {% include 'ui/components/article-1.html' %}
    <!---->
    {% endfor %}
  </ol>

  <section class="grid gap-8">
    {% if trending_news %}
    <h1 class="text-3xl text-primary font-black lg:text-5xl">
      {% trans 'Trending now' %}
    </h1>

    <ol class="grid grid-cols-12 grid-rows-[auto] gap-4">
      {% for article in trending_news %}
      <!---->
      {% include 'ui/components/article.html' %}
      <!---->
      {% endfor %}
    </ol>
    {% endif %}
  </section>

  <section class="grid gap-8">
    {% if latest_news %}
    <h1 class="text-3xl text-primary font-black lg:text-5xl">
      {% trans 'Latest News' %}
    </h1>

    <ol class="grid grid-cols-12 grid-rows-[auto] gap-4">
      {% for article in latest_news %}
      <!---->
      {% include 'ui/components/article-2.html' %}
      <!---->
      {% endfor %}
    </ol>
    {% endif %}
  </section>

  <div class="grid gap-12">
    {% for category in categories %}
    <section class="grid gap-8">
      <h1 class="text-3xl text-primary font-black lg:text-5xl">
        <a href="{% pageurl category %}" class="link link-primary link-hover">
          {{ category.title }}
        </a>
      </h1>

      <ol class="grid grid-cols-12 grid-rows-[auto] gap-4">
        {% for article in category.get_ordered_children.specific|slice:':6' %}
        <!---->
        {% include 'ui/components/article.html' %}
        <!---->
        {% endfor %}
      </ol>
    </section>
    {% endfor %}
  </div>
</div>
{% endblock %}
