{% extends 'ui/base.html' %}

<!---->
{% load i18n tcn wagtailcore_tags wagtailimages_tags %}

<!---->
{% block title %}
{{ block.super }} | {{ article.get_parent }} | {{ article }}
{% endblock %}

<!---->
{% short_link article.link.slug as link %}

<!---->
{% block meta %}
<meta
  name="description"
  content="{% trans 'The Certain News' %} | {% trans 'News' %} | {{ article.title }}"
/>
<meta property="og:url" content="{{ link }}" />
<meta property="og:type" content="website" />
<meta
  property="og:title"
  content="{% trans 'The Certain News' %} | {% trans 'News' %} | {{ article.title }}"
/>
<meta
  property="og:description"
  content="{% trans 'The Certain News' %} | {% trans 'News' %} | {{ article.title }}"
/>
<meta property="og:image" content="{% image_url article.image 'fill-1920x1080' %}" />
<meta property="og:image:width" content="1200" />
<meta property="og:image:height" content="630" />

<meta name="twitter:card" content="summary_large_image" />
<meta property="twitter:domain" content="{{ link }}" />
<meta property="twitter:url" content="{{ link }}" />
<meta
  name="twitter:title"
  content="{% trans 'The Certain News' %} | {% trans 'News' %} | {{ article.title }}"
/>
<meta
  name="twitter:description"
  content="{% trans 'The Certain News' %} | {% trans 'News' %} | {{ article.title }}"
/>
<meta name="twitter:image" content="{% image_url article.image 'fill-1920x1080' %}" />
{% endblock %}

<!---->
{% block styles %}{{ block.super }}
<script src="https://unpkg.com/clipboard@2/dist/clipboard.min.js"></script>
{% endblock %}

<div class="hidden badge-secondary badge-error"></div>

<!---->
{% block content %}
<div class="container grid gap-12 mx-auto px-4 py-20">
  {% include 'ui/components/breadcrumbs.html' %}

  <div class="flex items-center flex-wrap gap-4">
    {% if article.country %}
    <div>
      <div
        class="tooltip tooltip-success tooltip-right rtl:tooltip-left"
        data-tip="{{ article.country.name }}"
      >
        <a
          href="{% url 'ui:articles' %}?country={{ article.country }}"
          class="badge badge-success badge-xl"
        >
          <i data-lucide="map-pin" class="size-4 lg:size-6"></i>
          {{ article.country }}
        </a>
      </div>
    </div>
    {% endif %}

    <div
      class="tooltip tooltip-primary tooltip-right rtl:tooltip-left"
      data-tip="{% trans 'Category' %}"
    >
      <a
        href="{% pageurl article.get_parent %}"
        class="badge badge-primary badge-xl"
      >
        {{ article.get_parent }}
      </a>
    </div>

    {% if article.is_breaking %}
    <div
      class="tooltip tooltip-error tooltip-right rtl:tooltip-left"
      data-tip="{% trans 'Breaking' %}"
    >
      <a
        href="{% url 'ui:articles' %}?is_breaking=True"
        class="badge badge-error badge-xl animate-pulse"
      >
        {% trans 'Breaking' %}
      </a>
    </div>
    {% endif %}
  </div>

  <h1
    class="font-bold text-primary text-xl md:text-3xl lg:text-6xl/24 xl:txet-7xl/32 2xl:text-8xl/36"
  >
    {{ article.title }}
  </h1>

  <div class="grid gap-4">
    <div
      class="flex flex-col md:flex-row md:items-center md:justify-between gap-4"
    >
      {% if article.get_parent.display_owner %}
      <a
        href="{% url 'ui:author' article.owner.slug %}"
        class="flex items-center gap-2"
      >
        {% if article.owner.photo %}
        <div class="avatar">
          <div class="mask mask-squircle size-10 lg:size-16">
            <img
              src="{{ article.owner.photo.url }}"
              alt="{{ article.owner }}"
            />
          </div>
        </div>
        {% else %}
        <div class="avatar avatar-placeholder">
          <div
            class="mask mask-squircle flex items-center justify-center bg-primary text-primary-content size-10 lg:size-16"
          >
            <span class="text-xl uppercase font-bold lg:text-4xl">
              {{ article.owner.first_name|slice:':1' }}
            </span>
          </div>
        </div>
        {% endif %}

        <div class="grid gap-1">
          <h2 class="text-primary text-lg font-bold lg:text-xl">
            {{ article.owner.get_full_name }}
          </h2>
          <p>{{ article.owner.bio }}</p>
        </div>
      </a>
      {% else %}
      <div></div>
      {% endif %}

      <div class="flex items-center justify-end gap-4">
        <div
          class="tooltip tooltip-left tooltip-primary rtl:tooltip-right"
          data-tip="{% translate 'Translations' %}"
        >
          <button
            popovertarget="translations"
            style="anchor-name: --translations"
            class="btn btn-square btn-soft btn-sm btn-primary md:btn-md 2xl:btn-lg"
          >
            <i data-lucide="languages" class="size-4 lg:size-6"></i>

            <span class="sr-only">{% translate 'Language' %}</span>
          </button>

          <ul
            id="translations"
            popover
            style="position-anchor: --translations"
            class="menu dropdown dropdown-left rounded-box bg-base-100/75 dark:bg-base-100/50 backdrop-blur-3xl text-base-content shadow-sm rtl:dropdown-right"
          >
            <li class="menu-title">{% translate 'Available in' %}</li>

            {% for translation in article.get_translations.live %}
            <li>
              <a
                href="{% pageurl translation %}"
                rel="alternate"
                hreflang="{{ translation.locale.language_code }}"
              >
                {{ translation.locale.language_name_local }}
                <!---->
                ({{ translation.locale.language_code }})
              </a>
            </li>
            {% empty %}
            <li>{% trans 'None' %}</li>
            {% endfor %}
          </ul>
        </div>

        <div
          id="btn-copy"
          class="tooltip tooltip-left tooltip-primary rtl:tooltip-right"
          data-tip="{% trans 'Copy URL' %}"
        >
          <button
            class="btn btn-copy btn-square btn-sm btn-primary md:btn-md 2xl:btn-lg"
            data-clipboard-text="{{ link }}"
          >
            <i
              id="clipboard"
              data-lucide="clipboard"
              class="size-4 md:size-6"
            ></i>
            <i
              id="clipboard-check"
              data-lucide="clipboard-check"
              class="hidden size-4 md:size-6"
            ></i>
            <span class="sr-only">{% trans 'Copy URL' %}</span>
          </button>
        </div>

        <div
          class="tooltip tooltip-left tooltip-info rtl:tooltip-right"
          data-tip="{% trans 'Facebook' %}"
        >
          <a
            class="btn btn-copy btn-square btn-sm btn-info md:btn-md 2xl:btn-lg"
            href="https://www.facebook.com/sharer/sharer.php?u={{ link }}"
          >
            <i data-lucide="facebook" class="size-4 md:size-6"></i>
            <span class="sr-only">{% trans 'Facebook' %}</span>
          </a>
        </div>
      </div>
    </div>

    <div class="flex flex-col md:flex-row text-xs sm:text-sm md:items-center gap-4">
      <div
        class="tooltip tooltip-bottom tooltip-primary"
        data-tip="{% trans 'Date published' %}"
      >
        <a
          href="{% url 'ui:articles-d' article.created_at.year article.created_at.month article.created_at.day %}"
          class="flex items-center gap-2 link link-primary link-hover"
        >
          <span class="status status-xl status-primary"></span>
          {{ article.created_at|date }}
        </a>
      </div>
      <span class="flex items-center gap-2 text-primary">
        <span class="status status-xl status-info"></span>
        <span>{% trans 'Last update' %}: {{ article.updated_at }}</span>
      </span>
    </div>
  </div>

  <div
    class="prose mx-auto prose-sm prose-video:rounded-box xl:prose-lg 2xl:prose-xl prose-headings:text-primary prose-headings:font-serif rtl:prose-headings:font-kufi prose-img:rounded-box prose-img:w-full prose-pre:bg-base-200 prose-pre:border prose-pre:border-base-300"
  >
    <figure class="skeleton overflow-clip">
      {% image article.image fill-1920x1080 %}
    </figure>

    <p class="lead">{{ article.headline }}</p>

    {{ article.content }}
  </div>

  <div class="flex mx-auto flex-wrap items-center gap-4">
    {% for tag in article.tags.all %}
    <span
      class="badge {% cycle 'badge-primary' 'badge-secondary' 'badge-success' 'badge-info' 'badge-warning' 'badge-error' %}"
    >
      {{ tag }}
    </span>
    {% endfor %}
  </div>

  {% if recommendations %}
  <section class="grid gap-8">
    <h1 class="font-bold text-primary text-xl md:text-3xl lg:text-4xl">
      {% trans 'Recommendations' %}
    </h1>

    <ol class="grid grid-cols-12 grid-rows-[auto] gap-4">
      {% for recommendation in recommendations %}
      <!---->
      {% include 'ui/components/article-1.html' with article=recommendation %}
      <!---->
      {% endfor %}
    </ol>
  </section>
  {% endif %}
</div>

<script>
  var clipboard = new ClipboardJS(".btn-copy");

  clipboard.on("success", function (e) {
    const btn = document.getElementById("btn-copy");
    const clipboard = document.getElementById("clipboard");
    const clipboardCheck = document.getElementById("clipboard-check");
    btn.setAttribute("data-tip", "{% trans 'Copied' %}");
    btn.classList.toggle("tooltip-open");

    clipboard.classList.toggle("hidden");
    clipboardCheck.classList.toggle("hidden");

    setTimeout(() => {
      btn.setAttribute("data-tip", "{% trans 'Copy URL' %}");
      btn.classList.toggle("tooltip-open");

      clipboard.classList.toggle("hidden");
      clipboardCheck.classList.toggle("hidden");
    }, 2000);
  });
</script>
{% endblock %}
