{% extends 'ui/base.html' %}{% load i18n wagtailcore_tags wagtailimages_tags %}

<!---->
{% block title %}{{ block.super }} | {% trans 'Latest News' %}{% endblock %}

<!---->
{% block content %}
<div class="container grid gap-8 mx-auto px-4 py-20">
  {% if request.GET.is_breaking %}
  <h1 class="text-primary text-xl font-bold lg:text-5xl">
    {% trans 'Breaking' %}
  </h1>
  {% else %}
  <h1 class="text-primary text-xl font-bold lg:text-5xl">
    {% trans 'Latest News' %}
  </h1>
  {% endif %}

  <div class="flex items-center justify-end">
    <div
      data-tip="{% trans 'Filters' %}"
      class="tooltip tooltip-left rtl:tooltip-right tooltip-primary"
    >
      <button
        onclick="filters.showModal()"
        class="btn btn-square btn-primary lg:btn-lg"
      >
        <i data-lucide="list-filter" class="size-4 lg:size-6"></i>
        <span class="sr-only">{% trans 'Filters' %}</span>
      </button>
    </div>
  </div>

  <ol class="grid grid-cols-12 grid-rows-[auto] gap-4">
    {% for article in articles %}
    <!---->
    {% include 'ui/components/article-1.html' %}
    <!---->
    {% empty %}
    <li class="col-span-12">
      <article
        class="card card-sm bg-base-200 shadow-xs lg:card-md xl:card-lg 2xl:card-xl overflow-hidden"
      >
        <main class="card-body items-center">
          <i data-lucide="info" class="mx-auto size-1/4 text-primary"></i>
          <h2 class="card-title text-primary">{% trans 'No articles' %}</h2>
          <p>{% trans 'Published news articles will appear here' %}</p>
        </main>
      </article>
    </li>
    {% endfor %}
  </ol>

  {% include 'ui/components/pagination.html' %}
</div>

<dialog id="filters" class="modal">
  <section class="relative modal-box grid max-w-xl gap-6 bg-base-200">
    <header class="flex items-center justify-between gap-4 text-primary">
      <h1 class="text-lg font-semibold lg:text-2xl">{% trans 'Filters' %}</h1>

      <div
        class="tooltip tooltip-left rtl:tooltip-right tooltip-error"
        data-tip="{% trans 'Close' %}"
      >
        <button
          onclick="filters.close()"
          class="btn btn-square btn-soft btn-primary hover:btn-error"
        >
          <i data-lucide="x" class="size-4 lg:size-6"></i>

          <span class="sr-only">{% trans 'Close' %}</span>
        </button>
      </div>
    </header>

    <main>
      {% include 'ui/components/form.html' with method='get' csrf=False form=filter.form %}
    </main>

    <footer class="-mx-5 -mb-5 grid">
      <button
        onclick="filters.close()"
        class="btn rounded-none rounded-t rounded-b-box btn-primary"
      >
        {% trans 'Close' %}
      </button>
    </footer>
  </section>
</dialog>
{% endblock %}
