{% extends 'tcn/base.html' %}{% load i18n wagtailcore_tags %}

<!---->
{% block title %}{{ block.super }} | {% trans 'Authors' %} | {{
user.get_full_name }}{% endblock %}

<!---->
{% block content %}
<section class="grid gap-8">
  <div class="container-prose">
    {% if user.photo %}
    <figure class="size-32 rounded-full mx-auto overflow-hidden lg:size-44">
      <img class="w-full" src="{{ user.photo.url }}" alt="{{ user }}" />
    </figure>
    {% else %}
    <div
      class="size-32 rounded-box mx-auto mb-8 bg-primary text-primary-content overflow-hidden lg:size-44"
    >
      <i data-lucide="user" class="size-full"></i>
    </div>
    {% endif %}

    <h1 class="text-center">{% firstof user.get_full_name user.username %}</h1>
    <p class="lead text-center">{{ user.bio|default_if_none:"" }}</p>
  </div>

  <div class="flex items-center justify-center gap-4">
    <div class="tooltip tooltip-success" data-tip="{% trans 'Articles' %}">
      <span class="btn btn-soft btn-sm btn-success md:btn-md 2xl:btn-lg">
        <i data-lucide="notebook-pen" class="size-4 lg:size-6"></i>
        {{ user.article_count }}
      </span>
    </div>

    <div class="tooltip tooltip-info" data-tip="{% trans 'Date joined' %}">
      <time
        datetime="{{ user.date_joined }}"
        class="btn btn-soft btn-sm btn-info md:btn-md 2xl:btn-lg"
      >
        <i data-lucide="calendar-clock" class="size-4 lg:size-6"></i>
        {{ user.date_joined|date }}
      </time>
    </div>

    {% if request.user.is_authenticated %}
    <!---->
    {% if user in request.user.following.all %}
    <div class="tooltip tooltip-primary" data-tip="{% translate 'Following' %}">
      <button
        onclick="follow('{{ user.slug }}')"
        class="btn btn-sm btn-primary md:btn-md 2xl:btn-lg"
      >
        <i data-lucide="user-check" class="size-4 lg:size-6"></i>
        <span>{% translate 'Following' %}</span>
      </button>
    </div>
    {% else %}
    <div class="tooltip tooltip-primary" data-tip="{% translate 'Follow' %}">
      <button
        onclick="follow('{{ user.slug }}')"
        class="btn btn-soft btn-sm btn-primary md:btn-md 2xl:btn-lg"
      >
        <i data-lucide="user-plus" class="size-4 lg:size-6"></i>
        <span>{% translate 'Follow' %}</span>
      </button>
    </div>
    {% endif %}
    <!---->
    {% else %}
    <div
      class="tooltip tooltip-primary"
      data-tip="{% translate 'Login to follow' %}"
    >
      <a
        href="{% url 'tcn:login' %}?next={% url 'tcn:author' user.slug %}"
        class="btn btn-soft btn-sm btn-primary md:btn-md 2xl:btn-lg"
      >
        <i data-lucide="user-plus" class="size-4 lg:size-6"></i>
        <span>{% translate 'Follow' %}</span>
      </a>
    </div>
    {% endif %}
  </div>

  <div class="container-prose">
    <h2>{% trans 'Articles' %}</h2>
  </div>

  <ol class="list grid grid-cols-1 lg:grid-cols-2 gap-4">
    {% for article in articles %}
    <!---->
    {% include 'tcn/components/article-li.html' %}
    <!---->
    {% empty %}
    <li class="col-span-full">
      <div class="container-prose">
        <h2>{% trans 'No results' %}</h2>
        <p>{% trans "We couldn't find any results." %}</p>
      </div>
    </li>
    {% endfor %}
  </ol>

  {% include 'tcn/components/pagination.html' %}
</section>

<div>
  {% csrf_token %}
  <div
    id="notifications"
    class="hidden toast toast-top toast-end top-24 right-4 lg:right-24 z-50"
  >
    <div class="alert alert-horizontal alert-success">
      <i data-lucide="circle-check" class="size-4 lg:size-6"></i>
      <p id="message"></p>
    </div>
  </div>
  {% if request.user.is_authenticated %}
  <script>
    const token = document.querySelector("[name=csrfmiddlewaretoken]").value;
    const message = document.getElementById("message");
    const notifications = document.getElementById("notifications");

    const follow = (user) =>
      fetch(`/{{ LANGUAGE_CODE }}/api/users/${user}/follow/`, {
        method: "POST",
        headers: {
          Accept: "application/json",
          "Content-Type": "application/json",
          "X-CSRFToken": token,
        },
        body: JSON.stringify({}),
      })
        .then((response) => response.json())
        .then((data) => {
          message.innerText = data.detail;
          notifications.classList.toggle("hidden");

          setTimeout(() => {
            notifications.classList.toggle("hidden");
            message.innerText = "";
          }, 2000);
        })
        .catch((err) => {
          message.innerText = err.message;
          notifications.classList.toggle("hidden");

          setTimeout(() => {
            notifications.classList.toggle("hidden");
            message.innerText = "";
          }, 2000);
        });
  </script>
  {% endif %}
</div>
{% endblock %}
