{% extends 'tcn/base.html' %}{% load i18n wagtailcore_tags %}

<!---->
{% block title %}{{ block.super }} | {{ category.title }}{% endblock %}

<!---->
{% block languages %}
<!---->
{% include 'tcn/components/lang_switch.html' %}
<!---->
{% endblock %}

<!---->
{% block content %}
<section class="grid gap-8">
  {% include 'tcn/components/breadcrumbs.html' %}

  <div class="container-prose">
    <h1>{{ category.title }}</h1>

    {{ category.description|richtext }}
  </div>

  <ol class="grid grid-cols-12 grid-rows-[auto] gap-4">
    {% for article in children.specific %}
    <!---->
    {% include 'tcn/components/article-2.html' %}
    <!---->
    {% endfor %}
  </ol>

  {% include 'tcn/components/pagination.html' %}
</section>
{% endblock %}
