{% extends 'ui/base.html' %}{% load i18n wagtailimages_tags %}

<!---->
{% block title %}{{ block.super }} | {% trans 'About us' %}{% endblock %}

<!---->
{% block content %}
<section class="container mx-auto px-4">
  <div
    class="max-w-none prose prose-sm md:processes-md prose-video:rounded-box xl:prose-lg 2xl:prose-xl prose-headings:text-primary prose-headings:font-serif rtl:prose-headings:font-kufi prose-img:rounded-box prose-img:w-full"
  >
    <h1>{% trans 'About us' %}</h1>
    <p>
      {% blocktrans trimmed %}Welcome to <strong>The Certain News</strong> a
      platform dedicated to delivering reliable, insightful, and engaging news
      from around the world. At the heart of our mission is a deep commitment to
      building trust and promoting transparency in todayÆs rapidly changing
      information landscape.{% endblocktrans %}
    </p>
    <h2>{% trans 'Our Mission' %}</h2>
    <p>
      {% blocktrans trimmed %}In a time when information is abundant yet trust
      is scarce, our mission is clear:<br />
      <strong>
        To empower our readers with authentic, well-researched news so that
        every voice is heard and every story matters.
      </strong>
      {% endblocktrans %}
    </p>
    <p>
      {% blocktrans trimmed %}We believe that by creating a space for verified
      and balanced reporting, we can help individuals make informed decisions
      and feel confident in the news they consume.{% endblocktrans %}
    </p>
    <h2>{% trans 'Our Vision' %}</h2>
    <p>
      {% blocktrans trimmed %}We envision a world where the truth is accessible
      to all.
      <strong>The Certain News</strong> strives to be more than just a news
      website a commitment to excellence in journalism. We aim to lead the
      way in digital storytelling by embracing innovative technology, ethical
      reporting, and a community-driven approach.{% endblocktrans %}
    </p>
    <h2>{% trans 'Our Story' %}</h2>
    <p>
      {% blocktrans trimmed %}Founded on the principles of trust and certainty,
      <strong>The Certain News</strong> was born out of the need for a platform
      that goes beyond quick headlines. Our name, which means
      <strong>certainty</strong> in Arabic, reflects our promise to deliver news that
      you can rely on. Drawing from a passion for deep investigation and a
      relentless search for the truth, our team is at the forefront of modern
      journalism, merging traditional reporting with cutting-edge technology.
      <!---->
      {% endblocktrans %}
    </p>
    <h2>{% trans 'What We Do' %}</h2>
    <ul>
      <li>
        {% blocktrans trimmed %}
        <strong>In-Depth Reporting:</strong> We cover local, regional, and
        international news with thorough research and expert analysis.
        <!---->
        {% endblocktrans %}
      </li>
      <li>
        {% blocktrans trimmed %}
        <strong>Timely Updates:</strong> With our real-time news feeds and live
        updates, youÆre always in the know.{% endblocktrans %}
      </li>
      <li>
        {% blocktrans trimmed %}
        <strong>Community Engagement:</strong> We believe that meaningful
        conversations are a catalyst for change. ThatÆs why we encourage our
        readers to share opinions, provide feedback, and become active
        participants in our news community.{% endblocktrans %}
      </li>
      <li>
        {% blocktrans trimmed %}
        <strong>Innovative Technology:</strong> Leveraging modern frameworks and
        intuitive design, we ensure that our platform is easy to navigate, fast,
        and secure.{% endblocktrans %}
      </li>
    </ul>
    <h2>{% trans 'Our Values' %}</h2>
    <ul>
      <li>
        {% blocktrans trimmed %}
        <strong>Integrity:</strong> We adhere to the highest ethical standards,
        ensuring that our reports are accurate, fair, and impartial.
        <!---->
        {% endblocktrans %}
      </li>
      <li>
        {% blocktrans trimmed %}
        <strong>Transparency:</strong> Every piece of news is the product of
        rigorous fact-checking and a commitment to openness.{% endblocktrans %}
      </li>
      <li>
        {% blocktrans trimmed %}
        <strong>Inclusivity:</strong> All voices matter. We strive to reflect
        diverse perspectives and give space to underrepresented communities.
        <!---->
        {% endblocktrans %}
      </li>
      <li>
        {% blocktrans trimmed %}
        <strong>Innovation:</strong> Embracing modern technology is key to
        evolving the news industry. We continuously refine our processes and
        approach to bring you news in a dynamic, user-friendly format.
        <!---->
        {% endblocktrans %}
      </li>
    </ul>
    <h2>{% trans 'Join Our Community' %}</h2>
    <p>
      {% blocktrans trimmed %}We invite you to explore our articles, share your
      thoughts, and join us in celebrating journalism that upholds the values of
      truth and transparency. At <strong>The Certain News</strong>, your trust
      fuels our work, and your voice shapes our future.{% endblocktrans %}
    </p>
    <hr />
    <p>
      {% blocktrans trimmed %}Thank you for choosing
      <strong>The Certain News</strong> û where certainty meets in-depth
      journalism. If you have any questions or feedback, please feel free to
      contact us through our{% endblocktrans %}
      <a href="{% url 'ui:contact' %}">{% trans 'Contact' %}</a>.
    </p>
  </div>
</section>
{% endblock %}
