<!-- prettier ignore -->
{% load i18n static %}

<!doctype html>
<html lang="en" data-theme="{% block theme %}silk{% endblock %}">

<head>
  <!-- prettier ignore -->
  {% block head %}
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <!-- prettier ignore -->
  <title>{% block title %}{% trans 'Al yaqeen' %}{% endblock %}</title>
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap"
    rel="stylesheet" />

  <link href="{% static 'ui/css/styles.css' %}" rel="stylesheet" type="text/css" />
  {% endblock %}
</head>

<body class="flex h-dvh bg-base-300 overflow-hidden">
  <!-- prettier ignore -->
  {% block nav %}
  <section id="nav" class="h-full z-30 {% block nav_styles %}{% endblock %}">
    <header class="h-full">
      <nav class="menu menu-vertical h-full items-center justify-between gap-4 lg:w-auto">
        <ul class="menu menu-vertical items-center gap-1 p-0 lg:gap-2">
          <!-- prettier ignore -->
          {% block branding %}
          <li class="tooltip tooltip-right tooltip-primary" data-tip="{% trans 'Al yaqeen' %}">
            <a href="{% url 'ui:home' %}" class="btn btn-square btn-primary lg:btn-lg">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                class="lucide lucide-school-icon lucide-school lg:size-8">
                <path d="M14 22v-4a2 2 0 1 0-4 0v4" />
                <path
                  d="m18 10 3.447 1.724a1 1 0 0 1 .553.894V20a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2v-7.382a1 1 0 0 1 .553-.894L6 10" />
                <path d="M18 5v17" />
                <path d="m4 6 7.106-3.553a2 2 0 0 1 1.788 0L20 6" />
                <path d="M6 5v17" />
                <circle cx="12" cy="9" r="2" />
              </svg>

              <span class="sr-only"> {% trans 'Al yaqeen' %} </span>
            </a>
          </li>
          {% endblock %}

          <!-- prettier ignore -->
          {% block nav_links %}
          <li class="tooltip tooltip-right tooltip-secondary" data-tip="{% trans 'Home' %}">
            <a href="{% url 'ui:home' %}" class="btn btn-sm btn-square btn-ghost lg:btn-md">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                class="lucide lucide-house size-4 lg:size-6">
                <path d="M15 21v-8a1 1 0 0 0-1-1h-4a1 1 0 0 0-1 1v8" />
                <path
                  d="M3 10a2 2 0 0 1 .709-1.528l7-5.999a2 2 0 0 1 2.582 0l7 5.999A2 2 0 0 1 21 10v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z" />
              </svg>

              <span class="sr-only">{% trans 'Home' %}</span>
            </a>
          </li>
          <li class="tooltip tooltip-right tooltip-secondary" data-tip="{% trans 'My learning' %}">
            <a href="{% url 'ui:home' %}" class="btn btn-sm btn-square btn-ghost lg:btn-md">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                class="lucide lucide-graduation-cap-icon lucide-graduation-cap size-4 lg:size-6">
                <path
                  d="M21.42 10.922a1 1 0 0 0-.019-1.838L12.83 5.18a2 2 0 0 0-1.66 0L2.6 9.08a1 1 0 0 0 0 1.832l8.57 3.908a2 2 0 0 0 1.66 0z" />
                <path d="M22 10v6" />
                <path d="M6 12.5V16a6 3 0 0 0 12 0v-3.5" />
              </svg>

              <span class="sr-only">{% trans 'My learning' %}</span>
            </a>
          </li>
          <li class="tooltip tooltip-right tooltip-secondary" data-tip="{% trans 'Courses' %}">
            <a href="{% url 'ui:home' %}" class="btn btn-sm btn-square btn-ghost lg:btn-md">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                class="lucide lucide-library-icon lucide-library size-4 lg:size-6">
                <path d="m16 6 4 14" />
                <path d="M12 6v14" />
                <path d="M8 8v12" />
                <path d="M4 4v16" />
              </svg>

              <span class="sr-only">{% trans 'Courses' %}</span>
            </a>
          </li>
          <li class="tooltip tooltip-right tooltip-secondary" data-tip="{% trans 'Learning paths' %}">
            <a href="{% url 'ui:home' %}" class="btn btn-sm btn-square btn-ghost lg:btn-md">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                class="lucide lucide-route-icon lucide-route size-4 lg:size-6">
                <circle cx="6" cy="19" r="3" />
                <path d="M9 19h8.5a3.5 3.5 0 0 0 0-7h-11a3.5 3.5 0 0 1 0-7H15" />
                <circle cx="18" cy="5" r="3" />
              </svg>

              <span class="sr-only">{% trans 'Learning paths' %}</span>
            </a>
          </li>
          <li class="tooltip tooltip-right tooltip-secondary" data-tip="{% trans 'News' %}">
            <a href="{% url 'ui:home' %}" class="btn btn-sm btn-square btn-ghost lg:btn-md">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                class="lucide lucide-scroll-text-icon lucide-scroll-text size-4 lg:size-6">
                <path d="M15 12h-5" />
                <path d="M15 8h-5" />
                <path d="M19 17V5a2 2 0 0 0-2-2H4" />
                <path
                  d="M8 21h12a2 2 0 0 0 2-2v-1a1 1 0 0 0-1-1H11a1 1 0 0 0-1 1v1a2 2 0 1 1-4 0V5a2 2 0 1 0-4 0v2a1 1 0 0 0 1 1h3" />
              </svg>

              <span class="sr-only">{% trans 'News' %}</span>
            </a>
          </li>
          {% endblock %}
        </ul>

        <ul class="menu menu-vertical items-center gap-1 p-0 lg:gap-2">
          <li class="tooltip tooltip-right tooltip-accent" data-tip="{% trans 'Profile' %}">
            <button popovertarget="profile" style="anchor-name: --profile"
              class="btn btn-sm btn-square btn-ghost lg:btn-md">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                class="lucide lucide-user size-4 lg:size-6">
                <path d="M19 21v-2a4 4 0 0 0-4-4H9a4 4 0 0 0-4 4v2" />
                <circle cx="12" cy="7" r="4" />
              </svg>

              <span class="sr-only">{% trans 'Profile' %}</span>
            </button>

            <ul popover id="profile" style="position-anchor: --profile"
              class="menu dropdown dropdown-top dropdown-right bg-base-200 rounded-box shadow-lg">
              <li class="menu-title">{% trans 'Profile' %}</li>
              <li>
                <a href="{% url 'ui:profile' %}" class="flex items-center gap-4">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                    class="lucide lucide-circle-user size-4 lg:size-6">
                    <circle cx="12" cy="12" r="10" />
                    <circle cx="12" cy="10" r="3" />
                    <path d="M7 20.662V19a2 2 0 0 1 2-2h6a2 2 0 0 1 2 2v1.662" />
                  </svg>

                  <span>{% trans 'Profile' %}</span>
                </a>
              </li>
              <!-- prettier ignore -->
              {% if request.user.is_authenticated %}
              <!-- prettier ignore -->
              {% if request.user.is_instructor %}
              <li>
                <a href="/dashboard/" class="flex items-center gap-4">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                    class="lucide lucide-layout-dashboard-icon lucide-layout-dashboard size-4 lg:size-6">
                    <rect width="7" height="9" x="3" y="3" rx="1" />
                    <rect width="7" height="5" x="14" y="3" rx="1" />
                    <rect width="7" height="9" x="14" y="12" rx="1" />
                    <rect width="7" height="5" x="3" y="16" rx="1" />
                  </svg>

                  <span>{% trans 'Dashboard' %}</span>
                </a>
              </li>
              {% endif %}
              <li>
                <button type="submit" form="logout" class="flex items-center gap-4">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                    class="lucide lucide-log-out-icon lucide-log-out size-4 lg:size-6">
                    <path d="m16 17 5-5-5-5" />
                    <path d="M21 12H9" />
                    <path d="M9 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h4" />
                  </svg>

                  <span>{% trans 'Log out' %}</span>
                </button>
              </li>
              {% else %}
              <li>
                <a href="{% url 'ui:login' %}" class="flex items-center gap-4">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                    class="lucide lucide-log-in-icon lucide-log-in size-4 lg:size-6">
                    <path d="m10 17 5-5-5-5" />
                    <path d="M15 12H3" />
                    <path d="M15 3h4a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2h-4" />
                  </svg>

                  <span>{% trans 'Log in' %}</span>
                </a>
              </li>
              {% endif %}
            </ul>
          </li>
        </ul>
      </nav>
    </header>
  </section>
  {% endblock %}

  <section id="content" class="relative flex h-dvh max-h-dvh w-full flex-col gap-2 py-2 pr-2 overflow-hidden">
    <!-- prettier ignore -->
    {% block searchbar %}
    <section id="searchbar" class="z-20 w-full {% block searchbar_styles %}{% endblock %}">
      <nav class="flex items-center justify-between w-full gap-2 lg:gap-4">
        <h1 class="hidden text-xl font-semibold text-primary lg:block">
          {% trans 'Al yaqeen' %}
        </h1>

        <form method="get" class="join w-full lg:max-w-lg">
          <label class="input input-sm input-primary w-full join-item lg:input-md">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
              stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
              class="lucide lucide-search opacity-50 size-4 lg:size-6">
              <circle cx="11" cy="11" r="8" />
              <path d="m21 21-4.3-4.3" />
            </svg>

            <input type="search" class="grow" name="search" value="{{ request.GET.search }}"
              placeholder="{% trans 'Search...' %}" />
          </label>

          <div class="tooltip tooltip-bottom" data-tip="{% trans 'Search' %}">
            <button class="btn btn-sm btn-primary join-item lg:btn-md" type="submit">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                class="lucide lucide-circle-check-icon lucide-circle-check size-4 lg:size-6">
                <circle cx="12" cy="12" r="10" />
                <path d="m9 12 2 2 4-4" />
              </svg>

              <span class="sr-only"> {% trans "Search" %} </span>
            </button>
          </div>
        </form>

        <ul class="flex items-center gap-2 p-0 lg:gap-4">
          <li class="tooltip tooltip-left tooltip-accent" data-tip="{% trans 'Toggle theme' %}">
            <label class="swap swap-rotate btn btn-sm btn-square btn-ghost lg:btn-md">
              <input type="checkbox" class="theme-controller" value="{% block toggle_theme %}luxury{% endblock %}" />

              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                class="lucide lucide-sun-icon lucide-sun size-4 lg:size-6 fill-current swap-off">
                <circle cx="12" cy="12" r="4" />
                <path d="M12 2v2" />
                <path d="M12 20v2" />
                <path d="m4.93 4.93 1.41 1.41" />
                <path d="m17.66 17.66 1.41 1.41" />
                <path d="M2 12h2" />
                <path d="M20 12h2" />
                <path d="m6.34 17.66-1.41 1.41" />
                <path d="m19.07 4.93-1.41 1.41" />
              </svg>

              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                class="lucide lucide-moon-star-icon lucide-moon-star size-4 lg:size-6 fill-current swap-on">
                <path d="M12 3a6 6 0 0 0 9 9 9 9 0 1 1-9-9" />
                <path d="M20 3v4" />
                <path d="M22 5h-4" />
              </svg>
            </label>
          </li>
        </ul>
      </nav>
    </section>
    {% endblock %}

    <main class="grid gap-4 grow grid-cols-12 rounded-box bg-base-100 overflow-y-auto lg:overflow-y-visible lg:gap-0">
      <!-- prettier ignore -->
      {% block main %}
      <section id="sidebar"
        class="col-span-12 h-full lg:col-span-3 {% block sidebar_height %} lg:h-[calc(100dvh-4rem)] lg:max-h-[calc(100dvh-4rem)] {% endblock %} {% block sidebar_styles %}{% endblock %}">
        <!-- prettier ignore -->
        {% block sidebar %}
        <section id="sidebar-content" class="relative h-full">
          <header class="absolute inset-x-0 top-0 z-10">
            <nav class="flex items-center justify-between p-4 gap-4 backdrop-blur-3xl rounded-t-box"></nav>
          </header>

          <main class="flex flex-col gap-4 gap-4 h-full px-4 py-20 lg:max-h-dvh lg:overflow-y-auto"></main>
        </section>
        {% endblock %}
      </section>

      <section id="content"
        class="col-span-12 h-full lg:col-span-9 {% block content_height %} lg:h-[calc(100dvh-4rem)] lg:max-h-[calc(100dvh-4rem)] {% endblock %} {% block content_styles %}{% endblock %}">
        <!-- prettier ignore -->
        {% block content %}
        <section id="main-content" class="relative h-full">
          <header class="absolute inset-x-0 top-0 z-10">
            <nav class="navbar items-center justify-between gap-4 rounded-t-box backdrop-blur-3xl px-4"></nav>
          </header>

          <main class="flex flex-col gap-4 h-full p-4 pt-20 lg:max-h-dvh lg:overflow-y-auto"></main>
        </section>
        {% endblock %}
      </section>
      {% endblock %}
    </main>
  </section>

  <form id="logout" action="{% url 'ui:logout' %}" method="post" class="hidden">
    {% csrf_token %}
  </form>
</body>

</html>