{% load i18n static wagtailuserbar %}
<!doctype html>
<html
  lang="{{ LANGUAGE_CODE }}"
  dir="{% if LANGUAGE_CODE == 'ar' %}rtl{% else %}ltr{% endif %}"
  data-theme="luxury"
>
  <head>
    {% block head %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}{% trans 'The Certain News' %}{% endblock %}</title>
    {% block meta %}
    <meta
      name="description"
      content="{% trans 'The Certain News - Journalism with Certainty' %}"
    />
    <meta property="og:url" content="https://alyaqeen.pythonanywhere.com" />
    <meta property="og:type" content="website" />
    <meta
      property="og:title"
      content="{% trans 'The Certain News - Journalism with Certainty' %}"
    />
    <meta
      property="og:description"
      content="{% trans 'The Certain News - Journalism with Certainty' %}"
    />
    <meta
      property="og:image"
      content="https://alyaqeen.pythonanywhere.com/banner.png"
    />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />

    <meta name="twitter:card" content="summary_large_image" />
    <meta property="twitter:domain" content="alyaqeen.pythonanywhere.com" />
    <meta
      property="twitter:url"
      content="https://alyaqeen.pythonanywhere.com"
    />
    <meta
      name="twitter:title"
      content="{% trans 'The Certain News - Journalism with Certainty' %}"
    />
    <meta
      name="twitter:description"
      content="{% trans 'The Certain News - Journalism with Certainty' %}"
    />
    <meta
      name="twitter:image"
      content="https://alyaqeen.pythonanywhere.com/banner.png"
    />
    {% endblock %}

    <link
      href="{% static 'ui/css/styles.css' %}"
      rel="stylesheet"
      type="text/css"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Kufi+Arabic:wght@100..900&family=Noto+Naskh+Arabic:wght@400..700&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    {% endblock %}
  </head>

  <body class="antialiased h-dvh overflow-hidden">
    {% if request.user.is_staff %}{% wagtailuserbar %}{% endif %}
    <div class="drawer">
      <input id="nav-drawer" type="checkbox" class="drawer-toggle sr-only" />

      <section id="content" class="drawer-content">
        <div class="relative h-dvh overflow-hidden bg-base-300 p-1 lg:p-2">
          <header
            class="absolute inset-x-1 top-1 z-20 rounded-t-box p-2 lg:inset-x-2 lg:top-2"
          >
            <nav class="navbar items-center justify-evenly p-0">
              <div class="navbar-start shadow-sm w-auto join divide-x divide-base-100 p-2 rounded-box backdrop-blur-3xl">
                <div
                  class="tooltip tooltip-right rtl:tooltip-left tooltip-primary"
                  data-tip="{% trans 'Open drawer' %}"
                >
                  <label
                    for="nav-drawer"
                    aria-label="{% trans 'Close drawer' %}"
                    class="btn join-item btn-square btn-soft btn-sm btn-primary lg:btn-md"
                  >
                    <i data-lucide="menu" class="size-4 lg:size-6"></i>
                    <span class="sr-only">{% trans 'Open drawer' %}</span>
                  </label>
                </div>

                <div
                  class="tooltip tooltip-right rtl:tooltip-left tooltip-info"
                  data-tip="{% translate 'Language' %}"
                >
                  <button
                    popovertarget="language"
                    style="anchor-name: --language"
                    class="btn btn-sm btn-square btn-soft btn-info lg:btn-md"
                  >
                    <i data-lucide="languages" class="size-4 lg:size-6"></i>

                    <span class="sr-only">{% translate 'Language' %}</span>
                  </button>

                  <ul
                    id="language"
                    popover
                    style="position-anchor: --language"
                    class="menu dropdown rounded-box bg-base-100 text-base-content shadow-sm rtl:dropdown-left"
                  >
                    <li class="menu-title">{% translate 'Language' %}</li>
                    <form
                      id="lang-form"
                      class="hidden"
                      action="{% url 'set_language' %}"
                      method="post"
                    >
                      {% csrf_token %}
                      <input
                        name="next"
                        type="hidden"
                        value="{{ redirect_to }}"
                      />
                    </form>
                    <!---->
                    {% get_available_languages as LANGUAGES %}
                    <!---->
                    {% get_language_info_list for LANGUAGES as languages %}
                    <!---->
                    {% for language in languages %}
                    <li>
                      <label
                        class="flex flex-row items-center justify-between gap-6"
                      >
                        <div class="flex flex-row items-center gap-2">
                          <input
                            form="lang-form"
                            type="submit"
                            name="language"
                            value="{{ language.code|upper }}"
                            aria-label="{{ language.name_local }} ({{ language.code }})"
                          />
                          <span>
                            {{ language.name_local }} ({{ language.code }})
                          </span>
                        </div>
                        {% if language.code == LANGUAGE_CODE %}
                        <i data-lucide="check" class="size-4 lg:size-6"></i>
                        {% endif %}
                      </label>
                    </li>
                    {% endfor %}
                  </ul>
                </div>

                <div
                  class="tooltip tooltip-right rtl:tooltip-left tooltip-success"
                  data-tip="{% trans 'Search' %}"
                >
                  <button
                    onclick="modal.showModal()"
                    class="btn join-item btn-square btn-soft btn-sm btn-success lg:btn-md"
                  >
                    <i data-lucide="search" class="size-4 lg:size-6"></i>

                    <span class="sr-only">{% trans 'Search' %}</span>
                  </button>
                </div>
              </div>

              <div class="navbar-center shadow-sm w-auto p-2 rounded-box backdrop-blur-3xl lg:p-4">
                <div class="join items-center">
                  <div
                    class="tooltip tooltip-bottom tooltip-success"
                    data-tip="{% trans 'Latest News' %}"
                  >
                    <a
                      href="{% url 'ui:articles' %}"
                      class="btn btn-square btn-sm join-item btn-success lg:btn-md"
                    >
                      <i data-lucide="newspaper" class="size-4 lg:size-6"></i>
                      <span class="sr-only">{% trans 'Latest News' %}</span>
                    </a>
                  </div>
                  <div
                    class="tooltip tooltip-bottom tooltip-primary"
                    data-tip="{% trans 'The Certain News' %}"
                  >
                    <a
                      href="{% url 'ui:home' %}"
                      class="btn btn-square rounded-sm join-item btn-primary lg:btn-lg"
                    >
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                        stroke="currentColor"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        class="lucide lucide-feather-text-icon lucide-feather-text size-8"
                      >
                        <path d="M17.9 8H9.2" />
                        <path
                          d="M5.1 12H14l8-8.2c-2.3-2.3-6.1-2.3-8.5 0L2 15"
                        />
                        <path d="M2 19h8" />
                        <path
                          d="M21 17v1c0 1 1 1.5 1 2.5 0 .8-.7 1.5-1.5 1.5h-5c-.8 0-1.5-.7-1.5-1.5 0-1 1-1.5 1-2.5v-1"
                        />
                        <path d="M14 17h8" />
                      </svg>
                      <span class="sr-only">{% trans 'The Certain News' %}</span>
                    </a>
                  </div>
                  <div
                    class="tooltip tooltip-bottom tooltip-success"
                    data-tip="{% trans 'Categories' %}"
                  >
                    <a
                      href="{% url 'ui:categories' %}"
                      class="btn btn-square btn-sm join-item btn-success lg:btn-md"
                    >
                      <i data-lucide="group" class="size-4 lg:size-6"></i>
                      <span class="sr-only">{% trans 'Categories' %}</span>
                    </a>
                  </div>
                </div>
              </div>

              <div class="navbar-end shadow-sm w-auto join divide-x divide-base-100 p-2 rounded-box backdrop-blur-3xl">
                {% if request.user.is_authenticated %}
                <div
                  class="tooltip tooltip-left rtl:tooltip-right tooltip-success"
                  data-tip="{% trans 'Profile' %}"
                >
                  <a
                    href="{% url 'ui:profile' %}"
                    class="btn join-item btn-square btn-soft btn-sm btn-success lg:btn-md"
                  >
                    <i data-lucide="user" class="size-4 lg:size-6"></i>
                    <span class="sr-only">{% trans 'Profile' %}</span>
                  </a>
                </div>
                <div
                  class="tooltip tooltip-left tooltip-info rtl:tooltip-right"
                  data-tip="{% trans 'Toggle theme' %}"
                >
                  <label
                    class="swap swap-rotate btn join-item btn-square btn-soft btn-sm btn-info lg:btn-md"
                  >
                    <input
                      type="checkbox"
                      class="theme-controller"
                      value="silk"
                    />
                    <i data-lucide="sun" class="swap-off size-4 lg:size-6"></i>
                    <i
                      data-lucide="moon-star"
                      class="swap-on size-4 lg:size-6"
                    ></i>
                  </label>
                </div>
                <div
                  class="tooltip tooltip-left rtl:tooltip-right tooltip-primary"
                  data-tip="{% trans 'Log out' %}"
                >
                  <button
                    type="submit"
                    form="logout"
                    class="btn join-item btn-square btn-soft btn-sm btn-primary lg:btn-md"
                  >
                    <i data-lucide="log-out" class="size-4 lg:size-6"></i>
                    <span class="sr-only">{% trans 'Log out' %}</span>
                  </button>
                </div>
                {% else %}
                <div
                  class="tooltip tooltip-left rtl:tooltip-right tooltip-success"
                  data-tip="{% trans 'Subscribe' %}"
                >
                  <a
                    href="{% url 'ui:signup' %}"
                    class="btn join-item btn-square btn-soft btn-sm btn-success lg:btn-md"
                  >
                    <i
                      data-lucide="heart-handshake"
                      class="size-4 lg:size-6"
                    ></i>
                    <span class="sr-only">{% trans 'Subscribe' %}</span>
                  </a>
                </div>
                <div
                  class="tooltip tooltip-left tooltip-info rtl:tooltip-right"
                  data-tip="{% trans 'Toggle theme' %}"
                >
                  <label
                    class="swap swap-rotate btn join-item btn-square btn-soft btn-sm btn-info lg:btn-md"
                  >
                    <input
                      type="checkbox"
                      class="theme-controller"
                      value="silk"
                    />
                    <i data-lucide="sun" class="swap-off size-4 lg:size-6"></i>
                    <i
                      data-lucide="moon-star"
                      class="swap-on size-4 lg:size-6"
                    ></i>
                  </label>
                </div>
                <div
                  class="tooltip tooltip-left rtl:tooltip-right tooltip-primary"
                  data-tip="{% trans 'Log in' %}"
                >
                  <a
                    href="{% url 'ui:login' %}"
                    class="btn join-item btn-square btn-soft btn-sm btn-primary lg:btn-md"
                  >
                    <i data-lucide="log-in" class="size-4 lg:size-6"></i>
                    <span class="sr-only">{% trans 'Log in' %}</span>
                  </a>
                </div>
                {% endif %}
              </div>
            </nav>
          </header>

          <section
            class="m-auto flex size-full max-h-[calc(100dvh-0.5rem)] max-w-[calc(100dvw-0.5rem)] flex-col gap-16 overflow-y-auto rounded-box bg-base-100 p-4 pt-24 lg:max-h-[calc(100dvh-1rem)] lg:max-w-[calc(100dvw-1rem)]"
          >
            {% include 'ui/components/messages.html' %}
            <!---->
            {% block content %}{% endblock %}

            <!---->
            {% block footer %}
            <footer
              class="footer w-full rounded-box bg-base-200 p-10 text-base-content sm:footer-horizontal"
            >
              <nav>
                <h6 class="footer-title">{% trans 'Services' %}</h6>
                <a href="{% url 'ui:articles' %}" class="link link-hover"
                  >{% trans 'News' %}</a
                >
                <a class="link link-hover">{% trans 'Advertisement' %}</a>
              </nav>
              <nav>
                <h6 class="footer-title">{% trans 'Company' %}</h6>
                <a href="{% url 'ui:about' %}" class="link link-hover"
                  >{% trans 'About us' %}</a
                >
                <a href="{% url 'ui:contact' %}" class="link link-hover"
                  >{% trans 'Contact' %}</a
                >
              </nav>
              <nav>
                <h6 class="footer-title">{% trans 'Legal' %}</h6>
                <a class="link link-hover">{% trans 'Terms of use' %}</a>
                <a class="link link-hover">{% trans 'Privacy policy' %}</a>
              </nav>
            </footer>
            {% endblock %}
          </section>
        </div>
      </section>

      <section id="sidebar" class="drawer-side z-50">
        <label
          for="nav-drawer"
          aria-label="{% trans 'Close drawer' %}"
          class="drawer-overlay"
        ></label>

        <section
          class="m-1 flex h-full max-h-[calc(100dvh-0.5rem)] w-full max-w-[calc(100dvw-0.5rem)] flex-col justify-between overflow-hidden rounded-box bg-base-100/50 backdrop-blur-3xl sm:w-10/12 md:w-8/12 lg:m-2 lg:max-h-[calc(100dvh-1rem)] lg:w-1/3 lg:max-w-[calc(100dvw-1rem)] lg:rounded-r-box xl:w-1/4"
        >
          <div class="grid gap-4">
            <header class="flex items-center justify-between gap-4 p-4">
              <div
                class="tooltip tooltip-right rtl:tooltip-left tooltip-primary tooltip-open"
                data-tip="{% trans 'The Certain News' %}"
              >
                <a
                  href="{% url 'ui:home' %}"
                  class="btn btn-square btn-lg btn-primary"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="lucide lucide-feather-text-icon lucide-feather-text size-8"
                  >
                    <path d="M17.9 8H9.2" />
                    <path d="M5.1 12H14l8-8.2c-2.3-2.3-6.1-2.3-8.5 0L2 15" />
                    <path d="M2 19h8" />
                    <path
                      d="M21 17v1c0 1 1 1.5 1 2.5 0 .8-.7 1.5-1.5 1.5h-5c-.8 0-1.5-.7-1.5-1.5 0-1 1-1.5 1-2.5v-1"
                    />
                    <path d="M14 17h8" />
                  </svg>
                  <span class="sr-only">{% trans 'The Certain News' %}</span>
                </a>
              </div>

              <div
                class="tooltip tooltip-left rtl:tooltip-right hover:tooltip-error"
                data-tip="{% trans 'Close' %}"
              >
                <label
                  for="nav-drawer"
                  aria-label="{% trans 'Close drawer' %}"
                  class="btn btn-square btn-soft btn-sm btn-primary hover:btn-error lg:btn-md"
                >
                  <i data-lucide="x" class="size-4 lg:size-6"></i>
                  <span class="sr-only">{% trans 'Close' %}</span>
                </label>
              </div>
            </header>

            <ol class="grid gap-4 size-full p-4">
              <li>
                <a
                  href="{% url 'ui:home' %}"
                  class="btn gap-4 w-full justify-start btn-soft btn-primary"
                >
                  <i data-lucide="home" class="size-4 lg:size-6"></i>
                  {% trans 'Home' %}
                </a>
              </li>
              {% if request.user.is_authenticated and request.user.is_staff %}
              <li>
                <a
                  href="/dashboard/"
                  class="btn gap-4 w-full justify-between btn-soft btn-primary"
                >
                  <span class="flex items-center gap-4">
                    <i
                      data-lucide="layout-dashboard"
                      class="size-4 lg:size-6"
                    ></i>
                    {% trans 'Dashboard' %}
                  </span>

                  <i
                    data-lucide="chevron-right"
                    class="size-4 lg:size-6 rtl:rotate-180"
                  ></i>
                </a>
              </li>
              {% endif %}
              <li>
                <a
                  href="{% url 'ui:articles' %}?is_breaking=True"
                  class="group btn gap-4 w-full justify-start btn-soft btn-error"
                >
                  <div class="relative flex items-center justify-center size-4 lg:size-6">
                    <i data-lucide="podcast" class="size-4 lg:size-6"></i>
                    <span
                      class="absolute badge badge-sm animate-ping rounded-full badge-lg badge-error group-hover:badge-soft"
                    >
                    </span>
                  </div>
                  <span>{% trans 'Breaking' %}</span>
                </a>
              </li>
              <li>
                <a
                  href="{% url 'ui:articles' %}"
                  class="btn gap-4 w-full justify-start btn-soft btn-primary"
                >
                  <i data-lucide="newspaper" class="size-4 lg:size-6"></i>
                  {% trans 'Latest news' %}
                </a>
              </li>
              <li>
                <a
                  href="{% url 'ui:categories' %}"
                  class="btn gap-4 w-full justify-start btn-soft btn-primary"
                >
                  <i data-lucide="group" class="size-4 lg:size-6"></i>
                  {% trans 'Categories' %}
                </a>
              </li>
            </ol>
          </div>

          <section class="join divide-base-100 divide-x-2">
            {% if request.user.is_authenticated %}
            <div
              class="tooltip tooltip-top tooltip-primary grow"
              data-tip="{% trans 'Log out' %}"
            >
              <button
                type="submit"
                form="logout"
                class="btn btn-square btn-lg join-item btn-primary btn-soft w-full rounded-none"
              >
                <i data-lucide="log-out" class="size-4 lg:size-6"></i>
                <span class="sr-only">{% trans 'Log out' %}</span>
              </button>
            </div>
            {% else %}
            <div
              class="tooltip tooltip-top tooltip-primary grow"
              data-tip="{% trans 'Log in' %}"
            >
              <a
                href="{% url 'ui:login' %}"
                class="btn btn-square btn-lg join-item btn-primary btn-soft w-full rounded-none"
              >
                <i data-lucide="log-in" class="size-4 lg:size-6"></i>
                <span class="sr-only">{% trans 'Log in' %}</span>
              </a>
            </div>
            {% endif %}
            <div
              class="tooltip tooltip-top tooltip-info"
              data-tip="{% trans 'Facebook' %}"
            >
              <a
                href="https://facebook.com/"
                class="btn btn-square btn-lg join-item btn-info btn-soft"
              >
                <i data-lucide="facebook" class="size-4 lg:size-6"></i>
                <span class="sr-only">{% trans 'Facebook' %}</span>
              </a>
            </div>
            <div
              class="tooltip tooltip-top tooltip-error"
              data-tip="{% trans 'Instagram' %}"
            >
              <a
                href="https://instagram.com/"
                class="btn btn-square btn-lg join-item btn-error btn-soft"
              >
                <i data-lucide="instagram" class="size-4 lg:size-6"></i>
                <span class="sr-only">{% trans 'Instagram' %}</span>
              </a>
            </div>
            <div
              class="tooltip tooltip-top tooltip-primary"
              data-tip="{% trans 'X' %}"
            >
              <a
                href="https://x.com/"
                class="btn btn-square btn-lg join-item btn-primary btn-soft"
              >
                <i data-lucide="twitter" class="size-4 lg:size-6"></i>
                <span class="sr-only">{% trans 'C' %}</span>
              </a>
            </div>
            <div
              class="tooltip tooltip-top tooltip-accent"
              data-tip="{% trans 'Linkedin' %}"
            >
              <a
                href="https://linkedin.com/"
                class="btn btn-square btn-lg join-item btn-accent btn-soft"
              >
                <i data-lucide="linkedin" class="size-4 lg:size-6"></i>
                <span class="sr-only">{% trans 'Linkedin' %}</span>
              </a>
            </div>
            {% if request.user.is_authenticated %}
            <div
              class="tooltip tooltip-top tooltip-primary grow"
              data-tip="{% trans 'Profile' %}"
            >
              <a
                href="{% url 'ui:profile' %}"
                class="btn btn-square btn-lg join-item btn-primary btn-soft w-full rounded-none"
              >
                <i data-lucide="user" class="size-4 lg:size-6"></i>
                <span class="sr-only">{% trans 'Profile' %}</span>
              </a>
            </div>
            {% else %}
            <div
              class="tooltip tooltip-top tooltip-primary grow"
              data-tip="{% trans 'Subscribe' %}"
            >
              <a
                href="{% url 'ui:signup' %}"
                class="btn btn-square btn-lg join-item btn-primary btn-soft w-full rounded-none"
              >
                <i data-lucide="heart-handshake" class="size-4 lg:size-6"></i>
                <span class="sr-only">{% trans 'Subscribe' %}</span>
              </a>
            </div>
            {% endif %}
          </section>
        </section>
      </section>
    </div>

    <dialog id="modal" class="modal">
      <section class="relative modal-box grid max-w-xl gap-6 bg-base-100">
        <header class="flex items-center justify-between gap-4 text-primary">
          <h1 class="text-lg font-semibold lg:text-2xl">
            {% trans 'Search' %}
          </h1>

          <div
            class="tooltip tooltip-left rtl:tooltip-right tooltip-error"
            data-tip="{% trans 'Close' %}"
          >
            <button
              onclick="modal.close()"
              class="btn btn-square btn-soft btn-primary hover:btn-error"
            >
              <i data-lucide="x" class="size-4 lg:size-6"></i>

              <span class="sr-only">{% trans 'Close' %}</span>
            </button>
          </div>
        </header>

        <main>
          <form id="search-form">
            <label
              class="input w-full bg-transparent text-primary input-primary"
            >
              <i data-lucide="search" class="size-4 lg:size-6"></i>

              <input
                type="search"
                name="search"
                placeholder="{% trans 'Search' %}"
                class="grow"
              />
            </label>
          </form>
        </main>

        <footer class="-mx-5 -mb-5 grid grid-cols-2">
          <button
            type="submit"
            form="search-form"
            class="btn rounded-none rounded-tl rounded-bl-box btn-primary"
          >
            {% trans 'Search' %}
          </button>
          <button
            onclick="modal.close()"
            class="btn rounded-none rounded-tr rounded-br-box btn-ghost"
          >
            {% trans 'Close' %}
          </button>
        </footer>
      </section>
    </dialog>

    <form
      id="logout"
      action="{% url 'ui:logout' %}"
      method="post"
      class="hidden"
    >
      {% csrf_token %}
    </form>

    <script src="https://unpkg.com/lucide@latest"></script>
    <script>
      lucide.createIcons();
    </script>
  </body>
</html>
