{% extends 'ui/base.html' %}{% load i18n wagtailimages_tags %}

<!---->
{% block title %}{% trans 'Al Yaqeen' %}{% endblock %}

<!---->
{% block content %}
<section id="breaking-news">
  <div class="carousel aspect-video w-full rounded-box lg:max-h-[50rem]">
    {% for article in breaking_news %}
    <div id="breaking-{{ article.id }}" class="group carousel-item size-full">
      <article
        class="image-full card relative size-full rounded-box card-sm md:card-md lg:card-xl"
      >
        <div class="absolute top-4 right-4 z-10">
          <div
            class="tooltip tooltip-left tooltip-primary"
            data-tip="{% trans 'Read' %}"
          >
            <a
              class="btn btn-circle btn-primary lg:btn-xl"
              href="{% url 'ui:article' article.created_at|date:'Y' article.created_at|date:'m' article.created_at|date:'d' article.slug %}"
            >
              <i
                data-lucide="arrow-right"
                class="size-4 lg:size-6 rtl:rotate-180"
              ></i>

              <span class="sr-only">{% trans 'Read' %}</span>
            </a>
          </div>
        </div>

        <figure>{% image article.image scale-100 %}</figure>

        <main class="card-body justify-between gap-4 lg:gap-6">
          <div class="hero grow">
            <div class="hero-content flex-col gap-4 lg:gap-6">
              <h1
                class="card-title font-serif text-2xl font-black text-shadow-lg lg:text-7xl rtl:font-kufi"
              >
                {{ article.title }}
              </h1>

              <p class="grow-0 text-lg font-light lg:text-2xl">
                {{ article.headline }}
              </p>
            </div>
          </div>

          <nav class="flex items-center justify-between">
            <div class="join items-center divide-x-2 divide-base-100">
              <div
                class="tooltip tooltip-right rtl:tooltip-left flex tooltip-error"
                data-tip="{% trans 'Breaking' %}"
              >
                <a
                  href="{% url 'ui:articles' %}?is_breaking=True"
                  class="relative join-item badge badge-sm badge-error lg:badge-lg"
                >
                  <i data-lucide="podcast" class="size-4 lg:size-6"></i>

                  <span
                    class="absolute badge badge-sm aspect-square animate-ping rounded-full badge-xl badge-error"
                  ></span>
                  <span class="sr-only">{% trans 'Breaking' %}</span>
                </a>
              </div>

              <div
                class="tooltip tooltip-right rtl:tooltip-left flex tooltip-primary"
                data-tip="{% trans 'Category' %}"
              >
                <a
                  href="{% url 'ui:category' article.get_parent.slug %}"
                  class="join-item badge badge-sm badge-primary text-shadow-lg lg:badge-lg"
                >
                  {{ article.get_parent.title }}
                </a>
              </div>
            </div>

            <div class="join items-center divide-x-2 divide-base-100">
              <div
                class="tooltip tooltip-left rtl:tooltip-right tooltip-primary"
                data-tip="{% trans 'Swipe left' %}"
              >
                <button
                  class="btn join-item btn-square btn-sm btn-primary md:btn-lg lg:btn-xl"
                >
                  <i
                    data-lucide="chevron-left"
                    class="size-4 lg:size-6 rtl:rotate-180"
                  ></i>

                  <span class="sr-only">
                    {% trans 'Swipe left to view previous' %}
                  </span>
                </button>
              </div>

              <div
                class="tooltip tooltip-left rtl:tooltip-right tooltip-primary"
                data-tip="{% trans 'Swipe right' %}"
              >
                <button
                  class="btn join-item btn-square btn-sm btn-primary md:btn-lg lg:btn-xl"
                >
                  <i
                    data-lucide="chevron-right"
                    class="size-4 lg:size-6 rtl:rotate-180"
                  ></i>

                  <span class="sr-only">
                    {% trans 'Swipe right to view the next' %}
                  </span>
                </button>
              </div>
            </div>
          </nav>
        </main>
      </article>
    </div>
    {% endfor %}
  </div>
</section>

<section id="latest-news" class="grid gap-6">
  <div class="flex items-center justify-between gap-4">
    <h2 class="text-xl font-black text-primary lg:text-2xl">
      {% trans 'Latest News' %}
    </h2>

    <div
      class="tooltip tooltip-left rtl:tooltip-right tooltip-info"
      data-tip="{% trans 'See all' %}"
    >
      <a
        href="{% url 'ui:articles' %}"
        class="btn btn-circle btn-soft btn-info lg:btn-lg"
      >
        <span class="sr-only">{% trans 'See all' %}</span>

        <i
          data-lucide="chevron-right"
          class="size-4 lg:size-6 rtl:rotate-180"
        ></i>
      </a>
    </div>
  </div>

  <div class="carousel md:gap-4 lg:gap-6">
    {% for article in latest_news %}
    <div id="{{ article.slug }}" class="carousel-item w-full md:w-1/2 lg:w-1/3">
      {% include 'ui/components/article.html' %}
    </div>
    {% endfor %}
  </div>
</section>

<section id="categories" class="grid gap-6">
  <div class="flex items-center justify-between gap-4">
    <h2 class="text-xl font-black text-primary lg:text-2xl">
      {% trans 'Categories' %}
    </h2>

    <div
      class="tooltip tooltip-left rtl:tooltip-right tooltip-info"
      data-tip="{% trans 'See all' %}"
    >
      <a
        href="{% url 'ui:categories' %}"
        class="btn btn-circle btn-soft btn-info lg:btn-lg"
      >
        <span class="sr-only">{% trans 'See all' %}</span>

        <i
          data-lucide="chevron-right"
          class="size-4 lg:size-6 rtl:rotate-180"
        ></i>
      </a>
    </div>
  </div>

  <div class="carousel md:gap-4 lg:gap-6">
    {% for category in categories %}
    <div
      id="{{ category.slug }}"
      class="carousel-item w-full md:w-1/2 lg:w-1/3"
    >
      <article
        class="card relative size-full bg-base-200 p-4 hover:shadow lg:card-lg xl:card-xl"
      >
        <main class="card-body gap-4 lg:gap-6">
          <div
            class="tooltip tooltip-left tooltip-info absolute top-4 right-4 rtl:left-4"
            data-tip="{% trans 'Article count' %}"
          >
            <span class="badge badge-sm badge-info lg:badge-lg">
              {{ category.get_children.count }} {% trans 'articles' %}
            </span>
          </div>

          <h1 class="card-title font-serif text-primary rtl:font-kufi">
            {{ category.title }}
          </h1>

          <div>{{ category.description }}</div>

          <a
            href="{% url 'ui:category' category.slug %}"
            class="btn btn-primary lg:btn-lg"
          >
            {% trans 'See all' %}
            <i
              data-lucide="chevron-right"
              class="size-4 lg:size-6 rtl:rotate-180"
            ></i>
          </a>
        </main>
      </article>
    </div>
    {% endfor %}
  </div>
</section>
{% endblock %}
